<div class="side quest box">
  <%= link_to user_path(quest.owner) do
    avatar(quest.owner, :size => 32) +
    div(quest.owner.name, :class => "user")
  end %>
  
  <%= link_to quest_path(quest), :class => "title" do
    truncate(quest.title, :length => 200)
  end %>
  
  <div class="time">
    <% if quest.active? %>
      <%= I18n.t("quest.list.expiration", :distance_of_time => distance_of_time_in_words_to_now(quest.expires_at)) %>
    <% else %>
      <%= I18n.t("quest.list.creation", :distance_of_time => distance_of_time_in_words_to_now(quest.created_at)) %>
    <% end %>
  </div>
</div>