<div class="side quest box">
  <%= link_to user_path(quest.owner) do
    avatar(quest.owner, :size => 32) +
    div(quest.owner.name, :class => "user")
  end %>
  
  <%= link_to quest_path(quest), :class => "title" do
    truncate(quest.title, :length => 200)
  end %>
  
  <div class="time">
    <%= quest_duration(quest) %>
  </div>
</div>