<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="sidebar span2">
    <% if @location.present? %>
      <%= quests_location_filter(@location) %>
      <%= spacer %>
    <% end %>
    <%= quests_category_filters(@filters) %>
  </div>
  <div class="main span7">
    <%= quests_list_box(@quests, :filter => params[:category] ) %>
  </div>
  <div class="span2">&nbsp;</div>
</div>
