<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="sidebar span2">
    <%= placeholder "Category-Filter" %>
    <%= spacer %>
    <%= placeholder "Top-Quest-List" %>
  </div>
  <div class="main span7">
    <%= quests_list_box(@quests) %>
  </div>
  <div class="span2">&nbsp;</div>
</div>
