<%= header_ribbon(
  header_button(:bubble, t("quest.actions.new.title"), new_quest_path, :text => t("quest.actions.new.sub")),
  partial("quests/index/head"),
  "&nbsp") %>

<div class="row bg-main">
  <div class="span12">
    <ul class="row quests">
      <%= render :partial => 'quests/list' %>
    </ul>
    <%= link_to I18n.t("status.loading"), quests_path(:page => (params[:page].to_i || 1)+1), :class => 'endless_scroll_hook', :remote => true %>
  </div>
</div>