<div class="row-fluid">
  <div class="sidebar span3">
    <%= quests_category_filters(@filters) %>
  </div>
  <div class="main span9">
    <%= quests_list_box(@quests, :location => @location, :filter => params[:category] ) %>
  </div>
</div>
