<div class="row-fluid main">
  <div class="sidebar span3">
    <div style="background-color:#00c; padding: 10px; min-height:200px">
      <h2>placeholder: Category-Filter</h2>
    </div>
    <div class="spacer" style="min-height:30px">
    </div>
    <div style="background-color:#ccc; padding: 10px; min-height:200px">
      <h2>placeholder: Top-Quest-List</h2>
    </div>
  </div>
  <div class="span1">&nbsp;</div>
  <div class="main span7">
    <%= quests_list_box(@quests) %>
  </div>
  <div class="span1">&nbsp;</div>
</div>
