<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="sidebar span2">
    <%= quests_category_filters(@filters) %>
  </div>
  <div class="main span8">
    <%= quests_list_box(@quests, :location => @location, :filter => params[:category] ) %>
  </div>
  <div class="span1">&nbsp;</div>
</div>
