<div class="row-fluid">
  <div class="span12 inner">
    <h1><%= I18n.t "quest.title.#{@quest.ui_mode}" %></h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 inner">
    <%= render "form" %>
  </div>
  <div class="span4 inner">
    <%= markdown "help" %>
  </div>
</div>
