<div class="row-fluid">
  <div class="span12">
    <div class="inner">
      <div class="form-container">
        <h1><%= i18n_title_for(@quest) %></h1>
        <%= render "form" %>
        <%#= markdown "help" %>
      </div>
    </div>
  </div>
</div>
