<div class="row-fluid">
  <div class="span1">&nbsp;</div>
  <div class="span10">
    <div class="inner">
      <div class="form-container">
        <h1><%= i18n_title_for(@quest) %></h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
  <div class="span1">&nbsp;</div>
</div>
