<%= form_for  @offer, :url => accept_offer_url(@offer), :method => :put, :remote => true do |form| %>
  <% modal_body do %>
    <p><%= I18n.t("offer.accept.legend") %></p>
    <%= form.error_messages %>
  <% end %>
  
  <% modal_footer do %>
  <%= form.actions "#", :"data-dismiss" => "modal", :label => I18n.t("button.accept") %>
  <% end %>
<% end %>
