<p>
  You posted <span><strong>10</strong> quests</span>, 
  shared <span><strong>10</strong> quests</span>, 
  and answered with <span><strong>10</strong> offers</span>.
</p>
<p>
  <span><strong>3</strong> of your quests</span> are still running. 
  <span><strong>3</strong> quests</span> that you shared are still running.
</p>
<p>
  You earned <span><strong>23</strong> EUR</span> so far... 
  27 EUR until you may request a cashout.
</p>
<p>
  You have still have the chance of earning additional
  <span><strong>17</strong> EUR</span>
  on yet to close quests.
</p>
