<div class="span3">
  <div class="inner untop sorting">
    <%= render_buttons(:sort) %>
  </div>
</div>
<div class="span7">
  <div class="inner untop categories">
    <%= render_buttons(:category) %>
  </div>
</div>
<div class="span2">
  <div class="inner untop order">
    <%= render_buttons(:order) %>
  </div>
</div>
