<h2>Confirm your email address!</h2>
<p>
  At this point we must make sure that your email address is correct.
</p>
<p>
  When you signed up, we sent you an email with details how to do this. 
  If you missed this email, we can just send you a new one.
</p>
<div>
  <%= 
    link_to I18n.t("signup.confirm.reminder_label"), 
      "/confirm", 
      :class => "btn btn-primary", :method => :post 
  %>
</div>
