<div class="span12 bg-white">
  <div class="row-fluid ">
    <div class="span6">
      <%= form_for @identity, :url => sessions_path, :html => {:class => "form-horizontal"} do |f| %>
        <%= render :partial => "form", :locals => { :form => f } %>
      <% end %>
      <p><%= I18n.t("signin.new_user", :link => link_to(I18n.t("sign_up"), signup_path)).html_safe %></p>
    </div>
    <div class="span6">
      <form>
        <fieldset>
          <legend><%= I18n.t(:"signin.twitter")%></legend>
        </fieldset>
      </form>
    </div>
  </div>
</div>