<div class="span12 bg-white">
  <div class="row-fluid ">
    <div class="span6">
      <%= render :partial => "by_email" %>
    </div>
    <div class="span6">
      <%= render :partial => "by_twitter" %>
    </div>
  </div>
</div>
