<div class="row-fluid">
  <div class="span1">&nbsp;</div>
  <div class="span10">
    <div class="inner">
      <% partials.each do |form_partial| %>
        <div class="form-container">
          <%= partial form_partial %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span1">&nbsp;</div>
</div>
