<div class="columnBottom inner bg-gray">
  <div class="row-fluid ">
    <div class="span4">
      <h4>When you are searching...</h4>
      <p>
        Whether you need a flat, a dog sitter, a co-worker, or someone to 
        accompany you on your next holiday trip – Bountyhill helps you find what you need!
      </p>
      <p>
        A crowd of bounty hunters will ask in their online communities!
      </p>
    </div>
    <div class="span4">
      <h4>Sharing helps all of us!</h4>
      <p>
        Turn your social network into money! By sharing bountyhill quests 
        via Twitter you and your followers have a chance to win parts of the bounty.
      </p>
    </div>
    <div class="span4">
      <h4>How does it work?</h4>
      <p>
        When you start a quest on bountyhill you will post a bounty. 
        If we help you find what you need bountyhill collects the bounty and splits it
        amongst those, that helped you find the final deal.
      </p>
    </div>
  </div>
</div>
