<div class="bg-gray overlap">
  <div class="row-fluid">
    <div class="span12">
      <div id="twitter" class="home-top">
        <div class="twitter">t</div>
        <p><a href="http://twitter.com"><%= t "home.twitter.link" %></a> <%= t "home.twitter.text" %></p>
      </div>
    </div>
  </div>
</div>