<div class="horizontal-ribbon">
    <div class="row-fluid bg-gray">
      <div id="twitter" class="span12">
          <div class="twitter">t</div>
          <p>
            <%= link_to_follow_twitter_account :label => I18n.t("home.twitter.link") %>
            <%= t "home.twitter.text" %>
          </p>
      </div>
  </div>
  <div class="corner left"></div>
  <div class="corner right"></div>
</div>