<div class="horizontal-ribbon">
    <div class="row-fluid bg-gray">
      <div id="twitter" class="span12">
          <div class="twitter">t</div>
          <p><a href="http://twitter.com"><%= t "home.twitter.link" %></a> <%= t "home.twitter.text" %></p>
      </div>
  </div>
  <div class="corner left"></div>
  <div class="corner right"></div>
</div>