<div class="horizontal-ribbon">
    <div class="row-fluid bg-gray">
      <div id="twitter" class="span12">
        <%= link_to_follow_twitter_account do %>
          <div class="twitter">t</div>
          <p>
            <strong><%= I18n.t("home.twitter.link") %></strong>
            <%= t "home.twitter.text" %>
          </p>
        <% end %>
      </div>
  </div>
  <div class="corner left"></div>
  <div class="corner right"></div>
</div>