<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to bountyhill.com!</h1>
    <p>
      Thank you for signing up with bountyhill.com. Before you can use this site fully,
      we need you to verify your email address.
    </p>
    <%= link_to "Verify my email address", @url %>
    <p>
      If you didn't register with bountyhill.com or didn't request verification please ignore this email.
    </p>
    <p>
      The bountyhill team.
    </p>
  </body>
</html>
