<h1><%= I18n.t("mail.confirm_email.heading") %></h1>
<p>
  <%= I18n.t("mail.confirm_email.text.html", :link => link_to(I18n.t("mail.confirm_email.text.link"), @url)).html_safe %>
</p>
<p>
  <%= I18n.t("mail.confirm_email.text2") %>
</p>
