<h1><%= I18n.t("mail.offer_received.heading") %></h1>
<p>
  <%= I18n.t("mail.offer_received.intro",
    :offerer  => link_to(@offer.owner.name, @offer.owner.url),
    :offer    => link_to(@offer.title, @offer.url),
    :quest    => link_to(@quest.title, @quest.url)).html_safe %>
  <%= I18n.t("mail.offer_received.compliance", :compliance => @offer.compliance).html_safe %>
</p>
<p>
  <%= I18n.t("mail.offer_received.text.html", :link => link_to(I18n.t("mail.offer_received.text.link"), @offer.url)).html_safe %>
</p>
