<h1>Your offer was declined!</h1>
<p>
  We are sorry to inform you that your offer was declined.
</p>
<p>
  See the original quest here: <%= link_to @quest.title, @quest.url %>. 
  Your offer can be reviewed <%= link_to "here", @offer.url %>.
</p>
