<h1><%= I18n.t("mail.reset_password.heading") %></h1>
<p>
  <%= I18n.t("mail.reset_password.text.html", :link => link_to(I18n.t("mail.reset_password.text.link"), @url)).html_safe %>
</p>
<p>
  <%= I18n.t("mail.reset_password.apologize") %>
</p>
