<h1>Reset your bountyhill password:</h1>
<p>
  To create a new password, please visit the URL below.
</p>
<p>
<%= link_to "Reset my password", @url %>
</p>
<p>
  If you didn't request resetting your bountyhill password please ignore this email.
</p>
