/* ------- common ------- */
.home {
  .claim, .explanation {
    font-family: $font_system;
    color: $text;
    margin: 0 auto;
  }
}

/* ------- claim ------- */
.home {
  .claim {
    display: block;
    @include border-radius(50%);
    height: (1024px / 3);
    width: (1024px / 3);
    position: relative;
    background-color: $white_transparent;
    border: 16px solid $white;
    padding: 0;
    .logo {
      position: absolute;
      width: 100%;
      top: 30%;
      text-align: center;
      color: $navigation_text;
      .main {
        font-size: $hero;
        line-height: 140%;
      }
      .sub { font-size: $xxx_large; }
    }
  }
}

/* ------- explanation ------- */
.home {
  .explanation {
    text-align: center;
    max-width: 1024px;
    .item {
      position: relative;
      max-width: 1024px;
      margin: 0 auto;
      .headline, .text {
        position: absolute;
        line-height: 120%;
      }
      .headline {
        bottom: 100px;
        font-size: $xxxx_large;
      }
      .text {
        bottom: 30px;
        font-size: $xx_large;
        max-width: 800px;
      }
      &.item1 {
        .headline { left: 31%; }
        .text     { left:  8%; }
      }
      &.item2 {
        .headline { left: 35%; }
        .text     { left: 24%; }
      }
      &.item3 {
        .headline { left: 33%; }
        .text     { left:  8%; }
      }
      &.item4 {
        .headline { left: 33%; }
        .text     { left: 22%; }
      }
      &.item5 {
        .headline { left: 33%; }
        .text     { left:  8%; }
      }
    }
  }
}

/* ------- screen resolution adjustments ------- */

@media only screen and (max-width: 1024px) {
  .home {
    .explanation {
      .item {
        .headline { bottom: 90px; }
        .text     { bottom: 26px; }
        &.item2, &.item4 {
          .text { left: 12%; }
        }
      }
    }
    .claim {
      border-width: 14px;
      height: (1024px / 4);
      width: (1024px / 4);
      .logo {
        .main { font-size: $xxxxx_large; }
        .sub  { font-size: $xx_large; }
      }
    }
  }
}

@media only screen and (max-width:979px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 85px;
          font-size: $xxxx_large; ;
        }
        .text {
          bottom: 24px;
          max-width: 780px;
          font-size: $xx_large;
        }
      }
    }
  }
}

@media only screen and (max-width: 854px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 70px;
          font-size: $xxx_large;
        }
        .text { 
          bottom: 20px;
          font-size: $large;
          max-width: 600px;
        }
      }
    }
    .claim {
      border-width: 12px;
      height: (1024px / 5);
      width: (1024px / 5);
      .logo {
        .main { font-size: $xxxx_large; }
        .sub { font-size: $x_large; }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 65px;
          font-size: $xxx_large;
        }
        .text { 
          bottom: 18px;
          font-size: $large;
          max-width: 580px;
        }
      }
    }
    .claim {
      border-width: 11px;
      height: (1024px / 5);
      width: (1024px / 5);
      .logo {
        .main { font-size: $xxxx_large; }
        .sub { font-size: $large; }
      }
    }
  }
}

@media only screen and (max-width: 683px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 58px; 
        }
        .text {
          bottom: 18px;
          font-size: $normal;
        }
        &.item1 {
          .text { left: 18%; }
        }
        &.item2, &.item4 {
          .text { left: 10%; }
        }
      }
    }
    .claim {
      border-width: 10px;
      height: (1024px / 6);
      width: (1024px / 6);
      .logo {
        .main { font-size: $xxxx_large; }
        .sub { font-size: $normal; }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 50px;
          font-size: $xx_large;
        }
        .text {
          bottom: 14px;
          font-size: $small;
          max-width: 500px;
        }
        &.item1 {
          .text { left: 16%; }
        }
        &.item2, &.item4 {
          .text { left: 16%; }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 50px;
          font-size: $xx_large;
        }
        .text {
          bottom: 14px;
          font-size: $small;
          max-width: 500px;
        }
        &.item1 {
          .text { left: 16%; }
        }
        &.item2, &.item4 {
          .text { left: 16%; }
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .home {
    .explanation {
      .item {
        .headline { bottom: 45px; }
        .text     { bottom: 10px; }
        &.item2, &.item4 {
          .headline { left: 30%; }
          .text     { left: 18%; }
        }
      }
    }
    .claim {
      border-width: 9px;
      height: (1024px / 7);
      width: (1024px / 7);
      .logo {
        .main { font-size: $xxx_large; }
        .sub { font-size: $small; }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 40px; 
          font-size: $xx_large;
        }
        .text { 
          bottom: 6px; 
          font-size: $small;
        }
        &.item1 {
          .headline { left: 28%; }
          .text     { left: 14%; }
        }
        &.item2, &.item4 {
          .headline { left: 30%; }
          .text     { left: 12%; }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .home {
    .explanation {
      margin: 0 auto 6px auto;
      .item {
        .headline { 
          bottom: 40px;
          font-size: $x_large;
        }
        .text {
          bottom: 5px;
          font-size: $x_small;
        }
        &.item2, &.item4 {
          .text  { left: 10%; }
        }
      }
    }
    .claim {
      border-width: 8px;
      height: (1024px / 8);
      width: (1024px / 8);
      .logo {
        .main { font-size: $xx_large; }
        .sub { font-size: $x_small; }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 28px;
          font-size: $large;
        }
        .text {
          bottom: 0px;
          font-size: $x_small;
        }
        &.item1 {
          .headline { left: 28%; }
          .text { left: 4%; }
        }
        &.item2 {
          .text { left: -2%; }
        }
        &.item3 {
          .text { left: -1%; }
        }
        &.item4 {
          .text { left: -2%; width: 386px; }
        }
        &.item5 {
          .text { left: 0%; }
        }
      }
    }
    .claim {
      border-width: 7px;
      height: (1024px / 9);
      width: (1024px / 9);
      .logo {
        .main { font-size: $x_large; }
        .sub { font-size: $xx_small; }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 26px;
          font-size: $normal;
        }
        .text {
          bottom: 0px;
          font-size: $xx_small;
        }
        &.item1 {
          .headline { left: 29%; }
        }
        &.item2 {
          .text { left: 0%; }
        }
        &.item3 {
        }
        &.item4 {
          .text { left: -2%; width: 349px; }
        }
        &.item5 {
        }
      }
    }
    .claim {
      border-width: 7px;
      height: (1024px / 11);
      width: (1024px / 11);
      .logo {
        .main { font-size: $x_large; line-height: 110%; }
        .sub { font-size: $xxx_small; }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .home {
    .explanation {
      .item {
        .headline { 
          bottom: 25px;
          font-size: $small;
        }
        .text {
          bottom: 0px;
          font-size: $xxx_small;
        }
        &.item1 {
        }
        &.item2 {
          .text { left: -2%; }
        }
        &.item3 {
        }
        &.item4 {
          .text { left: -2%; width: 310px; }
        }
        &.item5 {
        }
      }
    }
    .claim {
      border-width: 6px;
      height: (1024px / 12);
      width: (1024px / 12);
      .logo {
        .main { font-size: $large; line-height: 130%; }
        .sub { font-size: $xxxx_small; }
      }
    }
  }
}