.home {
  .claim {
    color: $text;
    margin: 128px 0 64px 0;
    font-size: 500%;
    text-align: center;
  }
  .explanation {
    color: $text;
    text-align: center;
    .item {
      position: relative;
      min-width: 1024px;
      .headline, .text {
        position: absolute;
        line-height: 120%;
      }
      .headline {
        bottom: 100px;
        font-size: 300%;
      }
      .text {
        bottom: 0px;
        font-size: 180%;
        text-align: center;
        width: 768px;
      }
      &.item1 {
        .headline { left: 33%;  bottom: 100px; }
        .text     { left:  8%;  bottom:   0px; }
      }
      &.item2 {
        .headline { left: 37%;  bottom:  80px; }
        .text     { left: 26%;  bottom:  10px; }
      }
      &.item3 {
        .headline { left: 33%;  bottom:  80px; }
        .text     { left:  8%;  bottom:  10px; }
      }
      &.item4 {
        .headline { left: 33%;  bottom:  80px; }
        .text     { left: 22%;  bottom:  10px; }
      }
      &.item5 {
        .headline { left: 33%;  bottom:  80px; }
        .text     { left:  8%;  bottom:  10px; }
      }
    }
  }
}
