#twitter {
  overflow: visible;
  padding: 17px 0 15px 15px;
  &:hover {
    .twitter {
      color: $twitter;
      font-size: 750%;
      opacity: 1.0;
    }
  }
  .twitter {
    color: $background_border;
  }
  a {
    color: $link_text;
  }
  p {
    display: block;
    font-style: italic;
    font-size: 16px;
    margin-left: 100px;
    color: $text_major;
    text-shadow: 1px 1px 0px black;
  }
}

form.home-search {
  margin: 50px 0;
  text-align: center;
  input[type=text], p {
    text-align: center;
  }
  p {
    width: 88%;
    margin: 10px 0 0 0;
    color: $text_minor;
  }
  input[type=submit], input[type=text] {
    padding: 4px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
  }
  input[type=text] {
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    height: auto;
  }
  input[type=submit] {
    padding: 12px 14px;
    line-height: 20px;
    font-size: 18px;
  }
}

.claim {
  padding: 10px 50px;
  margin-bottom: 40px;
  h1 {
    font-size: 24px;
  }
  p {
    float:right;
  }
  .reemphasis {
    font-size: 14px;
    color: $text_minor;
    font-weight: bold;
  }
  .emphasis {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: $highlight;
    position: relative;
    top: 2px;
  }
}

.columnBottom {
  color: #CCC;
  &.inner {
     padding: 20px 30px;
  }
  h4 {
    color: #CCC;
  }
}
