.inner {
  clear: both;
}

img {
  height: 100%;
}

h2 {
  span {
    color: $text_highlight;
  }
}

form {
  label, input {
    color: $text;
    font-size: 16px;
    line-height: 16px;
  }
}

.alert {
  margin: 20px 0 -56px 0
}

.flash {
  text-align: center;
  border-radius: 0
}

.banner {
  height: 120px;
}

.navbar {
  .brand {
    text-transform: none;
  }
  .nav {
    font-weight: bold;
    li {
      &.active > a, a:hover {
        background:  $navigation_highlight !important;
        color: $text;
      }
    }
  }
  .navbar-search {
    .search-query {
      font-weight: bold;
      line-height: 1.5;
    }
  }
}

.dropdown-menu {
  li {
    &.active, a:hover {
      background-color: $navigation_highlight;
      color: $text;
    }
  }
}
  
.ca-menu {
  li {
    &:hover {
      a {
        color: $highlight;
        text-shadow: 1px 1px 0px $background;
      }
      .ca-main {
        color: $link_text;
      }
    }
  }
}

.ui-datepicker {
  width: auto;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  table {
    width: 100%;
  }
}

.ui-datepicker-calendar {
  .ui-state-active, .ui-state-hover, th {
    border-color: $highlight;
  }
}

.ui-datepicker-header {
  border-color: $highlight;
}


@media (max-width: 320px) {
  body {
    padding: 0px;
  }
  .topspace {
    margin-top: 0px;
  }
  .navbar-fixed-top {
    margin: 0px -10px;
  }
  .navbar {
    .brand {
      padding: 8px 5px 12px 18px;
      margin-left: -10px;
      font-size: 18px;
    }
    .navbar-search {
      margin-right: 0px;
    }
  }
  .inner {
    padding: 5px;
  }
}
