.inner {
  clear: both;
}

form {
  label {
    color: white;
    font-size: 16px;
    line-height: 16px;
  }
  
  legend {
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
}

.alert {
  margin: 20px 0 -56px 0
}

.flash {
  text-align: center;
  border-radius: 0
}

.banner {
  height: 120px;
}

.navbar {
  .brand {
    text-transform: none;
  }
  .nav {
    font-weight: bold;
  }
  .navbar-search {
    .search-query {
      font-weight: bold;
      line-height: 1.5;
    }
  }
}

@media (max-width: 320px) {
  body {
    padding: 0px;
  }
  .topspace {
    margin-top: 0px;
  }
  .navbar-fixed-top {
    margin: 0px -10px;
  }
  .navbar {
    .brand {
      padding: 8px 5px 12px 18px;
      margin-left: -10px;
      font-size: 18px;
    }
    .navbar-search {
      margin-right: 0px;
    }
  }
  .inner {
    padding: 5px;
  }
}
