.box {

  /* ------- compliance bar colors ------- */
  &.offers, &.offer {
    .progress {
      background-color: $offer_comliance_bar_color_dark;
      .bar { @include background-image(linear-gradient($offer_comliance_bar_color_dark, $offer_comliance_bar_color)); }
    }
  }
  
  /* ------- offers/list ------- */
  &.offers {
    @include box_colors(offers);
    @include opener($offers_box_title_color, $open_center);
    &.with-opener {
      background-color: $quests_box_offers_bg_color;
    }
  }

  /* ------- offers/show ------- */
  &.offer {
    @include box_colors(offer);
    @include opener($offer_box_title_color, $open_left);

    /* ------- step indicator colors------- */
    .title {
      .step-indicator {
        li {
          color: $offer_step_bg_color;
          &.active {
            color: $offer_step_active_color;
            &:before {
              color: $offer_step_active_color;
              background-color: $offer_step_bg_color;
            }
          }
          &:before {
            color: $offer_step_color;
            background-color: $offer_step_bg_color;
          }
        }
      }
    }
    .content {
      padding: 16px;
    }
  }
}


form {
  .control-group {
    &.compliance {
      .progress {
        &.main {
          width: 542px;
          height: 26px;
          line-height: 25px;
        }
      }
    }
  }
  
  .criteria_compliances {
    & > li {
      .criteria { font-weight: bold; }
      margin-bottom: 18px;
      .control-label {
        width: 135px;
      }
      .controls {
        margin-left: 155px;
        .range-slider-prefix, .range-slider-postfix {
          margin-top: 6px;
          display: inline-block;
          text-align: center;
        }
      }
      .range-slider-prefix {
        padding-right: 10px;
      }
      .range-slider-postfix {
        padding-left: 10px;
      }
      .control-group {
        margin-bottom: 6px;
        &.range-slider { float:left; }
        &.compliance { margin-right: 35px; }
      }
    }
  }
  .control-group {
    .controls {
      .progress {
        margin-top: 6px;
        width: 280px
      }
      input[type='range'] {
        @include appearance(none);
        @include border-radius(10px);
        padding: 0;
        height: 15px;
        border: 1px solid;
      }
    }
  }
}
