.box {
  &.offers, &.offer {
    @include box_colors(offers);
  }
}

/* ------- compliance bar ------- */
.statistic, .message-container {
  .progress {
    line-height: 16px; /* let the progress bar look slimmer */
    height: auto;
    margin-bottom: 5px;
    .bar {
      @include background-image(linear-gradient($offer_comliance_bar_color_dark, $offer_comliance_bar_color));
      background-color: $offer_comliance_bar_color;
    }
  }
}

form {
  .criteria_compliances {
    & > li {
      margin-bottom: 18px;
      .control-label {
        width: 115px;
      }
      .controls {
        margin-left: 135px;
        .range-slider-prefix, .range-slider-postfix {
          margin-top: 6px;
          display: inline-block;
          text-align: center;
        }
      }
      .range-slider-prefix {
        padding-right: 10px;
      }
      .range-slider-postfix {
        padding-left: 10px;
      }
      .control-group {
        margin-bottom: 6px;
      }
    }
  }
  .control-group {
    .controls {
      .progress {
        margin-top: 6px;
        width: 280px
      }
      input[type='range'] {
        @include appearance(none);
        @include border-radius(10px);
        padding: 0;
        height: 15px;
        border: 1px solid;
      }
    }
  }
}
