.box {
  /* ------- quests/list ------- */
  &.quests {
    @include box_colors(quests);
    @include opener($quests_box_title_color, $open_center);
  }

  /* ------- quests/show ------- */
  &.quest {
    @include box_colors(quest);
    @include opener($quest_box_title_color, $open_left);
    
    /* ------- step indicator colors------- */
    .header {
      .step-indicator {
        li {
          color: $quest_step_bg_color;
          &.active {
            color: $quest_step_active_color;
            &:before {
              color: $quest_step_active_color;
              background-color: $quest_step_bg_color;
            }
          }
          &:before {
            color: $quest_step_color;
            background-color: $quest_step_bg_color;
          }
        }
      }
    }
  }
}
/* quest bar */
.topbar {
  &.quest {
    background-color: $quests_box_content_color;
    padding: $box_padding;
    border-top: 8px solid $quests_box_title_color;
    border-bottom: 8px solid $quests_box_title_color;
    .image-container {
      float: left;
      img { height: $avatar_size; }
    }
    .bar-box {
      display: block;
      color: $quest_box_title_color;
      margin-left:  $avatar_size + $box_padding;
      .bar-head {
        font-size: 120%;
        font-family: $font_system;
        .owner {
          width: 60%;
          margin-right: 8px;
          display: inline;
        }
        .time {
          width: 40%;
          float: right;
          text-align: right;
          font-style: italic;
          font-size: 90%;
        }
      }
      .bar-body {
        .title, .description {
          margin: 0 0 8px 0;
          line-height: 100%;
        }
        .title {
          margin-top: 24px;
          font-size: 160%;
          font-weight: bold;
        }
        .description {
          color: $text_inverse;
        }
      }
    }
  }
}

/* quest box in sidebar */
.sidebar {
  .quest {
    &.side {
      &.box {
        min-height: 84px;
        position: relative;
        padding: $box_padding;
        background-color: $quests_box_content_color;
        color: $text_inverse;
        border-top: 8px solid $quests_box_title_color;
        border-bottom: 8px solid $quests_box_title_color;
        .avatar {
          float: left;
          height: 32px;
        }
        .user, .time {
          font-family: $font_system;
          color: $quests_box_title_color;
        }
        .user {
          display: block;
          margin-left: 32px + 8px;
          height: 32px;
        }
        .time {
          text-align: right;
          font-style: italic;
          font-size: 90%;
        }
        .title {
          display: block;
          margin: 8px 0 16px 0;
          font-family: $font_user;
          color: $text_inverse;
        }
      }
    }
  }
}