.box {
  &.static {
    @include box_colors(static);
    
    .content {
      h2 { margin-top: 0; }
    }

    a {
      color: $text_inverse;
      &:hover   { color: $text_inverse_highlight; }
      &:visited { color: $text_inverse; }
    }
    
    p {
      & > a {
        float: right;
        margin-bottom: 10px;
        color: $text_inverse_highlight;
        &:visited { color: $text_inverse_highlight; }
      }
    }
    
    hr { clear: both; }
    
    dl {
      dt { float: left; }
      dd { font-weight: bold; }
      &.contact { dt { width:  80px; }}
      &.court   { dt { width: 140px; }}
      &.vat     { dt { margin-right: 20px; }
        margin-bottom: 0;
        margin-after: 0;
      }
    }
    
    iframe {
      &.map { border: $gray_dark 1px solid; }
    }
  }
}