.box {
  &.static {
    @include box_colors(static);
    
    a {
      color: $text_inverse;
      &:hover, &:visited { color: $text_inverse_highlight; };
    }
    
    dl {
      dt { float: left; }
      dd { font-weight: bold; }
      &.contact { dt { width:  80px; }}
      &.court   { dt { width: 140px; }}
      &.vat     { dt { margin-right: 20px; }
        margin-bottom: 0;
        margin-after: 0;
      }
    }
    
    iframe {
      &.map { border: $gray_dark 1px solid; }
    }
  }
}