.activities {
  &.box {
    @include box_colors(activities);
    
    /* opener triangle */
    @include opener($activities_box_title_color);

    ul.activities {
      li.activity {
        margin-bottom: 32px;
        min-height: 32px;
        ul {
          float: left;
          padding: 0 10px;
          background-color: $activities_box_content_color;
          width: 80%;
          margin: 0;
          li {
            float: left;
            line-height: 6ex;
            min-height: 6ex;
            margin-right: 5px;
            &.time   { float: right; margin-right: 0;}
            &.action { 
              margin-right: 10px; 
              font-weight: bold;
            }
          }
        }
        .points { 
          color: $text;
          float: right;
          background-color: $activities_box_statistic_color;
          width: 15%;
          line-height: 6ex;
          min-height: 6ex;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
.user {
  &.box {
    @include box_colors(user);
    .title {
      .handle {
        font-size: 18px;
        font-weight: normal;
      }
    }
    .content {
      padding: 16px;
      min-height: 46px;
      .contact-section {
        background-color: $user_box_title_color;
        color: $text;
        margin: 30px -16px -16px -16px;
        padding: 16px ;
        font-weight: bold;
        .info-icon {
          float: right;
          a { color: $user_box_content_color }
        }
        .contact-info {
          clear: both;
          dt, dd { float: left; }
          dd { font-size: 120%; }
          dt { 
            clear: both;
            width: 60px;
          }
        }
      }
    }
  }
  
  &.bar {
    &.quest { background-color: $quest_box_title_color; }
    &.offer { background-color: $offer_box_title_color; }
    display: block;
    padding: 10px 7px 10px 10px;
    position: relative;
    color: white;
    .profile {
      width: 82%;
      .name, .handle {
        position: absolute;
        left: 84px;
        font-weight: bold;
      }
      .name   { 
        top : 6px;
        line-height: 1.2;
        font-size: 140%;
      }
      .handle { 
        top : 30px;
        font-size: 110%;
      }
    }
    .rating {
      width: 160px;
      font-weight: bold;
      position: absolute;
      right: 10px;
      top: 18px;
      ul.stars {
        margin: 0;
        float: right;
        list-style: none;
        li {
          float: left;
          line-height: 15px;
        }
      }
      .points {
        font-size: 36px;
        line-height: 30px;
      }
      .text {
        font-size: 90%;
        border-top: 7px solid white;
        margin-top: 4px;
      }
    }
  }
}

.sidebar {
  img {
    &.avatar {
      float: right;
      min-width: 128px;
      min-height: 128px;
    }
  }
}


@media (max-width: 767px) {
  .sidebar {
    img {
      &.avatar {
        display: none;
      }
    }
  }
}

/* TODO: move to somewhere else! */

.two-columns {
  width: 50%;
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}
