.box {
  &.user        { @include box_colors(user);        .content { div { background-color: $user_box_title_color; }}}
  &.email       { @include box_colors(email);       .content { div { background-color: $email_box_title_color; }}}
  &.address     { @include box_colors(address);     .content { div { background-color: $address_box_title_color; }}}
  &.twitter     { @include box_colors(twitter);     .content { div { background-color: $twitter_box_title_color; }}}
  &.facebook    { @include box_colors(facebook);    .content { div { background-color: $facebook_box_title_color; }}}
  &.user, &.email, &.address, &.twitter, &.facebook {
    .content { 
      min-height: 52px;
      .content-box {
        margin: 0 -16px -16px -16px;
        padding: 16px ;
        color: $text;
        text-align: center;
        font-weight: bold;
        font-size: 120%;
        .identity-icon { float: left; }
        .privacy-icon  { float: right; }
        .identity-icon, .privacy-icon {
          a { color: $text }
        }
/*
        dl { 
          clear: both;
          width: 90%;
          margin: 0;
        }
        dt, dd { float: left; }
        dd {
          font-size: 120%; 
          width: 75%;
        }
        dt { 
          display: none;
          clear: both;
          width: 20%;
        }
*/
      }
    }
  }
}
.activities {
  &.box {
    @include box_colors(activities);
    
    /* opener triangle */
    /* @include opener($activities_box_title_color, $open_center); */

    ul.activities {
      li.activity {
        margin-bottom: 32px;
        min-height: 32px;
        ul {
          float: right;
          padding: 0 10px;
          background-color: $activities_box_content_color;
          width: 80%;
          margin: 0;
          li {
            float: left;
            line-height: 6ex;
            min-height: 6ex;
            margin-right: 5px;
            &.time   { float: right; margin-right: 0;}
            &.action { 
              margin-right: 10px; 
              font-weight: bold;
            }
          }
        }
        .points { 
          color: $text;
          float: left;
          background-color: $activities_box_statistic_color;
          width: 15%;
          line-height: 6ex;
          min-height: 6ex;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
.user {
  &.bar {
    &.quest { background-color: $quest_box_title_color; }
    &.offer { 
      background-color: $offer_box_title_color; 
      @include opener($offer_box_title_color, $open_center);
      &.with-opener {
        &:before { top: -40px; }
      }
    }
    display: block;
    padding: $box_padding;
    position: relative;
    color: white;
    font-family: $font_system;
    .profile {
      width: 80%;
      img { height: 64px; }
      .name, .handle {
        position: absolute;
        left: $box_content_h_padding;
      }
      .name   {
        top : $box_padding;
        font-size: 180%;
      }
      .handle { 
        top : 44px;
        font-size: 120%;
      }
    }
    .rating {
      width: 20%;
      position: absolute;
      right: $box_padding;
      top: $box_padding;
      border-bottom: $box_border_bottom;
      ul.stars {
        margin: 0 -4px 0 0;
        list-style: none;
        li { float: right; }
      }
      .points {
        font-size: $statistic_number_font_size;
        line-height: $statistic_number_line_height;
      }
    }
  }
}

.sidebar {
  img {
    &.avatar {
      float: right;
      width: 50%;
    }
  }
}
