<div class="content-box">
  <% if (email_address = email && email.email).present? %>
    <%= privacy_icon(:email) %>
    <div class='label'><%= I18n.t("user.box.email.label") %>:</div> <%= email_address %>
  <% else %>
   <%= I18n.t("user.box.email.text") %>
  <% end %>
</div>