<% if (postal_address = address && address.postal).present? %>
  <div class="content-box">
    <%= privacy_icon(:address) %>
    <%= postal_address.join("<br>").html_safe %>
  </div>
<% else %>
 <%= I18n.t("user.box.address.text") %>
<% end %>