<div class="content-box">
  <% if (postal_address = address && address.postal).present? %>
    <%= privacy_icon(:address) %>
    <%= postal_address.join("<br>").html_safe %>
  <% else %>
   <%= I18n.t("user.box.address.text") %>
  <% end %>
</div>