<div class="contact-section clearfix">
  <div class="info-icon">
    <%= link_to awesome_icon(:eye_close, :size => :large), "#", 
      :id               => "info-icon",
      :"data-toggle"    => "tooltip",
      :"data-placement" => "right",
      :title            => I18n.t("user.box.info_icon") %>
  </div>
  <div class="contact-info">
    <div class="two-columns left">
      <%= user_contact_info(user) %>
    </div>
    <div class="two-columns right">
      <%= user_address_info(user) %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('#info-icon').tooltip();
</script>