<form class="home-search" action="/quests/new" class="inner">
  <h3>You have no offers yet. Start a quest!</h3>

  <input type="text" id="search-query" class="search-query input-xlarge" placeholder="<%= t "home.search.box.placeholder" %>" name="q">
  <input type="submit" value="<%= t "home.search.box.button" %>" name="commit" class="btn btn-inverse btn-large">
</form>
