<form class="home-search" action="/quests/new" class="inner">
  <h3>You didn't receive nor posted no offers yet.</h3>
  <div><a href="/quests">Browse all active quests</a> and post an offer!</div>
</form>
