<div class="content-box">
  <% if user.description.present? %>
    <%= user.description %>
  <% elsif current_user == user %>
    <%= I18n.t("user.box.profile.text") %>
  <% else %>
    <%= I18n.t("user.box.profile.empty", :user => user.name) %>
  <% end %>
</div>