<%= header_ribbon h1(I18n.t("user.actions.edit.title")).html_safe %>

<div class="user_forms">
  <% %w(contact passwd).each do |form_partial| %>
    <div class="row-fluid form">
      <%= render_form do %>
        <%= partial "users/form/#{form_partial}", :user => @user, :email => @email %>
      <% end %>
    </div>
  <% end %>
</div>