<div class="row-fluid">
  <div class="span12">
    <%= render_tabs %>
  </div>
</div>

<%= 
  begin
    partial "users/tabs/#{active_tab}" 
  rescue
    content_tag :pre do
      "Missing partial users/tabs/#{active_tab}"
    end
  end
%>