<div class="row bg-main">
  <div class="span2">&nbsp;</div>
  <div class="user sheet lined span8">
    <div class="tape top left"></div>
      <div class="inner">
        <%= render_sections(@user) %>
      </div>
    <div class="tape top right"></div>
  </div>
  <div class="span2">&nbsp;</div>
</div>
