<div class="content-box">
  <% if (google_name = google && google.name).present? %>
    <%= privacy_icon(:google) %>
    <div class='label'><%= I18n.t("user.box.google.label") %>:</div> <%= google_name %>
  <% else %>
   <%= I18n.t("user.box.google.text") %>
  <% end %>
</div>