<% if (google_name = google && google.name).present? %>
  <div class="content-box">
    <%= privacy_icon(:google) %>
    <div class='label'><%= I18n.t("user.box.google.label") %>:</div> <%= google_name %>
  </div>
<% else %>
 <%= I18n.t("user.box.google.text") %>
<% end %>