<% accordion_heading(:password) do %>
  <%= I18n.t("identity/email.form.edit.title")%>
  <%= awesome_icon(icon_for('identity.password'), :class => "pull-right") %>
<% end %>

<% accordion_body(:password) do %>
  <% # hast to be known by identity template
    @identity = @user.identity(:email) 
    @provider = :email %>
    
    <div id="email">
      <%= render :partial => "identities/email/edit" %>
    </div>
<% end %>