<% if (object && object.errors.any?)
  error_message = if (base_errors = object.errors[:base]).present?
    I18n.t("message.base_error", :base_error => base_errors.join(", "))
  else
    I18n.t("message.error")
  end
end %>

<% unless (message ||= error_message).blank? %>
<div class="alert alert-error">
  <%= message %>
</div>
<% end %>
