<% 
  expect! filters => Class 
  name = filters.model_name.pluralize.downcase
%>
<div class="inner btn-group">
  <% filters.filters.each do |filter| %>
  <%=
    url = self.send("#{name}_path", params.slice(*params_for(name.to_sym)).update(:filter => filter))
    css_class = "btn btn-inverse btn-large"
    css_class += " active" if (params[:filter] == filter) 
    link_to I18n.t("#{name}.filter.#{filter}.title"), url, :class => css_class
  %>
  <% end %>
</div>
