<div class='lightbox-header'>
  <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
</div>
<div class='lightbox-content'>
  <% if images.size == 1 %>
    <%= div image_tag(images.first), :class => "item active" %>
  <% else %>
    <%= render "shared/carousel", :images => images, :active => active %>
    <script type="text/javascript" charset="utf-8">
    // Initializes the carousel with an optional options object and starts cycling through items.
      $('#myCarousel').carousel({
        interval: 3000
      })
    // re-center image in slideshow every time the carousel slides
      // $('#myCarousel').bind('slid', function() {
      //   $('#myLightbox').lightbox('centerImage');
      // });
    </script>
  <% end %>
</div>
