<div class="row-fluid" style="margin:60px 0">
  <!-- offset doesn't work with row-fluid - see: http://stackoverflow.com/questions/10163163/offsets-dont-work-when-using-row-fluid-in-twitters-bootstrap-->
  <div class="span1"></div>
  <div class="span10" style="background-color:#ccc;text-align:center; min-height:300px">
    <h1>placeholder: Explanation-Slider</h1>
  </div>
  <div class="span1"></div>
</div>

<div class="row-fluid" style="margin:60px 0;">
  <div class="span3" style="background-color:#ccc; text-align:center; min-height:50px">
    placeholder: Box-Button(quests)
  </div>
  <!-- offset doesn't work with row-fluid - see: http://stackoverflow.com/questions/10163163/offsets-dont-work-when-using-row-fluid-in-twitters-bootstrap-->
  <div class="span1"></div>
  <div class="span4" style="background-color:#ccc; text-align:center; min-height:50px">
    placeholder: Box-Button(new_quests)
  </div>
  <!-- offset doesn't work with row-fluid - see: http://stackoverflow.com/questions/10163163/offsets-dont-work-when-using-row-fluid-in-twitters-bootstrap-->
  <div class="span1"></div>
  <div class="span3" style="background-color:#ccc; text-align:center; min-height:50px">
    placeholder: Box-Button(offers)
  </div>
</div>

<div class="row-fluid" style="margin-bottom: 30px">
  <div class="span3" style="background-color:#00c; text-align:center; min-height:100px">
    placeholder: Quests-Statistics
  </div>
  <div class="span3" style="background-color:#0c0; text-align:center; min-height:100px">
    placeholder: Bounties-Graph
  </div>
  <div class="span3" style="background-color:#c00; text-align:center; min-height:100px">
    placeholder: Activities-Statistics
  </div>
  <div class="span3" style="background-color:#cc0; text-align:center; min-height:100px">
    placeholder: Forwards-Graph
  </div>
</div>
  
<div class="row-fluid">
  <div class="span6" style="background-color:#0cc; text-align:center; min-height:400px">
    placeholder: Top-Quests
  </div>
  <div class="span6" style="background-color:#c0c; text-align:center; min-height:400px">
    placeholder: Bounties-Graph
  </div>
</div>
