<!-- offset doesn't work with row-fluid - see: http://stackoverflow.com/questions/10163163/offsets-dont-work-when-using-row-fluid-in-twitters-bootstrap-->
<%= spacer %>
<div class="row-fluid">
  <div class="span2"></div>
  <div class="span8">
    <% 5.times do |index| %>
      <%= image_tag asset_path("home/key_0#{index+1}.png") %>
    <% end %>
  </div>
  <div class="span2"></div>
</div>
