<!-- banner-->
<div class="banner">
  <span>Requests<small>all actual requests...</small></span>
  <button class="btn btn-inverse" href="#">New Quest</button>
</div>
<div class="row bg-main" >
  <!-- categories -->
  <div class="span12 bg-black">
    <div class="row">
      <div class="categories">
        <a href="#" title="Category  1" data-bitly-type="bitly_hover_card">a</a>
        <a href="#" title="Category  2" data-bitly-type="bitly_hover_card">b</a>
        <a href="#" title="Category  3" data-bitly-type="bitly_hover_card">c</a>
        <a href="#" title="Category  4" data-bitly-type="bitly_hover_card">d</a>
        <a href="#" title="Category  5" data-bitly-type="bitly_hover_card">e</a>
        <a href="#" title="Category  6" data-bitly-type="bitly_hover_card">f</a>
        <a href="#" title="Category  7" data-bitly-type="bitly_hover_card">g</a>
        <a href="#" title="Category  8" data-bitly-type="bitly_hover_card">h</a>
      </div>
    </div>
  </div>
  <!-- tiles -->
  <div class="span12 bg-black">
    <% 4.times do %>
    <div class="row">
      <% %w(small medium large).each_with_index do |bounty, index| %>
        <div class="span4">
          <div class="inner">
            <div class="featuedBox">
              <div class="imgShow">
                <div class="ribbon-wrapper left"><div class="ribbon <%= bounty %>">$<%= rand(100)*(index+1)%></div></div>
                <a href="#" class="zoom" data-bitly-type="bitly_hover_card">
                  <img src="/images/examples/thumbnail-<%= (index%2)+1 %>.jpg" alt="thumbnail" width="100%" class="zoom"></img>
                  <span class="zoomOverlay"></span><div class="image_highlight"></div>
                </a>
                <div class="unbottom untop">
                  <h3>Holiday in cambodia under the wide blue sky with a drink in my hand</h3>
                  <div class="restrictions">
                    <img src="/images/icon/location.png" class="locality"><span class="locality">Hamburg, Germany</span><br>
                    <img src="/images/icon/calendar.png" class="temporality"><span class="temporality">15.02.2013</span>
                  </div>
                  <div class="socialmedia">
                    <!-- 
                    <a class="social-item googleplus" href="#" title="find us googleplus" data-bitly-type="bitly_hover_card">g</a>
                    <a class="social-item facebook" href="#" title="find us facebook" data-bitly-type="bitly_hover_card">f</a> 
                    -->
                    <a class="social-item twitter" href="#" title="find us twitter" data-bitly-type="bitly_hover_card">t</a>
                  </div>
                  <div class="bottom_link tip">
                    <!-- <a href="#" class="more" data-original-title="More Detail" data-bitly-type="bitly_hover_card"></a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- pagination -->
  <div class="span12 bg-black">
    <div class="pagination pagination-centered inner">
      <ul>
        <li><a href="#" data-bitly-type="bitly_hover_card">1</a></li>
        <li><a href="#" data-bitly-type="bitly_hover_card">2</a></li>
        <li class="active"><a href="#" data-bitly-type="bitly_hover_card">3</a></li>
        <li><a href="#" data-bitly-type="bitly_hover_card">4</a></li>
        <li><a href="#" data-bitly-type="bitly_hover_card">5</a></li>
      </ul>
    </div>
  </div>
</div>