<div class="row bg-main" >
  <div class="span12 bg-black">
    <!-- top section -->
    <div class="row">
      <div class="span8">
      </div>
      <div class="span12">
      </div>
    </div>
  </div>
</div>