<div class="content-box">
  <% if (name = facebook && facebook.name).present? %>
    <%= privacy_icon(:facebook) %>
    <div class='label'><%= I18n.t("user.box.facebook.label") %>:</div> <%= name %>
  <% else %>
   <%= I18n.t("user.box.facebook.text") %>
  <% end %>
</div>