<% if (name = facebook && facebook.name).present? %>
  <div class="content-box">
    <%= identity_icon(:facebook) %>
    <%= privacy_icon(:facebook) %>
    <%= name %>
  </div>
<% else %>
 <%= I18n.t("user.box.facebook.text") %>
<% end %>