<% if (criteria = quest.criteria).present? %>
  <div class="criteria no-flicker">
    <%= accordion do |acc| %>
      <% criteria.each do |criterium| %>
        <%=
          # description = criterium[:description] || I18n.t("quest.criteria.description.none")
          # acc.item criterium[:title], description, :collapse => false
          acc.item criterium[:title], "", :collapse => false
        %>
      <% end %>
    <% end %>
  </div>
<% end %>
