<div class="inner quest">
  <div class="datepicker-container">
    <div id="datepicker"> </div>
    <script type="text/javascript" charset="utf-8">
    jQuery(function() {
      var date = <%= quest.expires_at.to_date.to_js %>;
      jQuery('#datepicker').datepicker({
        defaultDate: date,
        minDate: date,
        maxDate: date
      });
    });
    </script>
  </div>
</div>
