<div class="inner unbottom">
  <ul class="block article_list large">
    <li>
      <%= image_for(quest) %>
      <article class="bg-gray">
        <%= h1 quest.title %>
        <%= p quest.description %>
      </article>
    </li>
  </ul>
</div>
