body {
  padding-bottom: 40px;
  padding-top: 60px;
}

#service.nav, #footer.nav {
  display: inline-block;
}

.flash {
  text-align: center;
  border-radius: 0
}

#footer.nav {
  li {
    float: left;
    margin-right: 30px;
  }
}