<div class="content-box">
  <% if (linkedin_name = linkedin && linkedin.name).present? %>
    <%= privacy_icon(:linkedin) %>
    <div class='label'><%= I18n.t("user.box.linkedin.label") %>:</div> <%= linkedin_name %>
  <% else %>
   <%= I18n.t("user.box.linkedin.text") %>
  <% end %>
</div>