<% if (linkedin_name = linkedin && linkedin.name).present? %>
  <div class="content-box">
    <%= privacy_icon(:linkedin) %>
    <div class='label'><%= I18n.t("user.box.linkedin.label") %>:</div> <%= linkedin_name %>
  </div>
<% else %>
 <%= I18n.t("user.box.linkedin.text") %>
<% end %>