<div class="content-box">
  <% if (twitter_handle = twitter && twitter.handle).present? %>
    <%= privacy_icon(:twitter) %>
    <div class='label'><%= I18n.t("user.box.twitter.label") %>:</div> <%= twitter_handle %>
  <% else %>
   <%= I18n.t("user.box.twitter.text") %>
  <% end %>
</div>
  