<% if (twitter_handle = twitter && twitter.handle).present? %>
  <div class="content-box">
    <%= privacy_icon(:twitter) %>
    <div class='label'><%= I18n.t("user.box.twitter.label") %>:</div> <%= twitter_handle %>
  </div>
<% else %>
 <%= I18n.t("user.box.twitter.text") %>
<% end %>