<div class="row-fluid">
  <div class="span8">
    <%= image_tag "/images/home.jpg" %>
  </div>
  <div class="span4 inner">
    <h1>Bountyhill will change the way you search.</h1>
    <br />
    <h2>For a new flat.</h2>
    <h2>For a dog sitter.</h2>
    <h2>Forever.</h2>
  </div>
</div>
