<div class="row-fluid<%= " single-form" if requested_forms.length == 1 %>">
  <% if requested_forms.length == 1 && !mobile? %>
    <div class="span3">&nbsp;</div>
  <% end %>
  <% requested_forms.each do |name| %>
  <div class="span6">
    <%= render :partial => name %>
  </div>
  <% end %>
</div>
