<div class="inner offer">
  <h2>
    <span class="bounty">
      <%=t "offer.actions.bounty.title", :bounty => offer.bounty.to_s(:cents => false) %>
    </span>
    <small><%=t "offer.actions.bounty.sub" %></small>
  </h2>
</div>
<div class="inner">
  <h2>
    <span><%=t "offer.actions.compliance.title", :compliance => offer.compliance %></span>
    <small><%=t "offer.actions.compliance.sub" %></small>
  </h2>
</div>
