<div class="inner offer">
  <h2>
    <span class="bounty">
      <%=t "offer.actions.bounty.title", :bounty => bounty.to_s(:cents => false) %>
    </span>
    <small><%=t "offer.actions.bounty.sub" %></small>
  </h2>
</div>
