<%-
# note that when changing this file you probably want to change _head.html.erb too.
-%>
<div class="inner offer">
  <%= h1 offer.title, :class => :title %>
  <%= p offer.description, :class => :description %>
</div>
