<p>
  <%= I18n.t("user.activities.common", :user => "You".t, :user_small => "you".t, :quests_posted => user.quests.count, :quests_shared => "???", :offers_made => user.offers.count).html_safe %>
</p>
<p>
  <%= I18n.t("user.activities.quests", :user => "You".t, :user_small => "you".t, :own_quests_running => user.quests.active.count, :shared_quests_running => "???").html_safe %>
</p>
<p>
  <%= I18n.t("user.activities.offers", :user => "You".t, :user_small => "you".t, :own_offers_open => user.offers.count, :offers_for_shared_quests_open => "???").html_safe %>
</p>
<p>
  <%= I18n.t("user.activities.points", :user => "You".t, :user_small => "you".t, :points_received => user.points, :points_perspective => "???").html_safe %>
</p>
