<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="sidebar span3">
    <div style="background-color:#00c; padding: 10px; min-height:200px">
      <h2>placeholder: Status-Filter</h2>
    </div>
  </div>
  <div class="main span7">
    <%= offers_list_box(@offers) %>
  </div>
  <div class="span1">&nbsp;</div>
</div>
