<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="sidebar span2">
    <%= offers_state_filters(@filters) %>
  </div>
  <div class="main span8">
    <%= offers_list_box(@offers) %>
  </div>
  <div class="span1">&nbsp;</div>
</div>
