<!-- <div>
  <%#= paginate comments %>
</div> -->

<% unless comments.empty? %>
  <ul id="comments" class="comments list">
    <%= render :partial => 'opinio/comments/comment', :collection => comments %>
  </ul>
<% end %>

<!-- <div>
  <%#= paginate comments %>
</div> -->
