$navigation_background:         #252525;
$navigation_background_top:     #272727;
$navigation_background_bottom:  #232323;
$navigation_item_highlight:     #6d6d6d;

$tweet_message_background:      #dddddd;
$tweet_message_border:          #cccccc;