$camin:           #AA063B;
$camin_bright:    #EECDD8;
$camin_dark:      #77042B;
$camin_darkest:   #660423;

$blue:            #39B3DC;
$blue_bright:     #CEECF6;
$blue_dark:       #2B84A2;
$blue_darkest:    #226B84;

$purple:          #863884;
$purple_bright:   #E1CEE1;
$purple_dark:     #611657;
$purple_darkest:  #50224F;

$green:         #549926;
$green_bright:  #D2E0C7;
$green_dark:    #396A19;
$green_darkest: #325C17;

$orange:          #CC9902;
$orange_bright:   #F1E0B2;
$orange_dark:     #9D6802;
$orange_darkest:  #7A5C01;

$red:             #E02202;
$red_bright:      #F7C8C0;
$red_dark:        #A41902;
$red_darkest:     #861401;

$text:          white;
$text_inverse:  black;

$navigation_background:         black;
$navigation_background_top:     black;
$navigation_background_bottom:  black;
$navigation_text:               #aaa;
$navigation_text_inverse:       #333;
$navigation_text_highlight:     #ccc;
$navigation_item_highlight:     #ccc;

$message_background:    #dddddd;
$message_border:        #cccccc;

$user_box_color:            $red_bright;
$user_box_title_color:      $red_dark;
$user_box_content_color:    $red;
$user_box_statistic_color:  $camin_dark;

$activities_box_color:          $camin_bright;
$activities_box_title_color:    $camin_dark;
$activities_box_content_color:  $camin;

$quests_box_color:            $blue_bright;
$quests_box_title_color:      $blue_dark;
$quests_box_content_color:    $blue;
$quests_box_statistic_color:  $blue_darkest;

$offers_box_color:            $orange_bright;
$offers_box_title_color:      $orange_dark;
$offers_box_content_color:    $orange;
$offers_box_statistic_color:  $orange_darkest;

$quest_box_color:           $blue;
$quest_box_title_color:     $blue_dark;
$quest_box_content_color:   $blue_bright;
$quest_box_statistic_color: $blue_darkest;

$offer_box_color:           $orange;
$offer_box_title_color:     $orange_dark;
$offer_box_content_color:   $orange_bright;
$offer_box_statistic_color: $orange_darkest;

$comments_box_color:          $green_bright;
$comments_box_title_color:    $green_dark;
$comments_box_content_color:  $green;

$quest_button_color:        $blue_dark;
$quest_active_button_color: $blue_darkest;

$offer_button_color:        $orange_dark;
$offer_active_button_color: $orange_darkest;

$user_button_color:     $red_dark;
$comment_button_color:  $green_dark;

$quest_bounty_bar_color:       $blue;
$quest_bounty_bar_color_dark:  $blue_dark;

$offer_comliance_bar_color:       $orange;
$offer_comliance_bar_color_dark:  $orange_dark;

$quest_image_border:            $blue;
$quest_image_border_highlight:  $blue_dark;

$offer_image_border:            $orange;
$offer_image_border_highlight:  $orange_dark;

$quest_step_color:            $blue_darkest;
$quest_step_active_color:     $blue_bright;
$quest_step_inactive_color:   $blue_dark;
$quest_step_bg_color:         $blue_darkest;
$quest_step_active_bg_color:  $blue;

$offer_step_color:            $orange_darkest;
$offer_step_active_color:     $orange_bright;
$offer_step_inactive_color:   $orange_dark;
$offer_step_bg_color:         $orange_darkest;
$offer_step_active_bg_color:  $orange;

$twitter:             #00ACED;
$twitter_highlight:   #21C2FF;
$facebook:            #3B5998;
$facebook_highlight:  #4C70BA;
$profile:             #4C9E46;
$profile_highlight:   #51AA4B;
$password:            $purple_dark;
$password_highlight:  $purple;
$email:               #CC8800;
$email_highlight:     #FFAA00;
$address:             #006699;
$address_highlight:   #0088CC;
$register:            $profile;
$register_highlight:  $profile_highlight;
$delete:              $red_dark;
$delete_highlight:    $red;
