/* font families */

$font_system: 'Open Sans Condensed', arial, sans-serif;
$font_user:   'Open Sans', arial, sans-serif;
$font_form:   'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: $font_user;
  .btn, .nav { font-family: $font_system; }
}
body.mceContentBody {
  font-family: $font_form;
}

/* font sizes */
$hero:        72px;
$xxxxx_large: 48px;
$xxxx_large:  36px;
$xxx_large:   28px;
$xx_large:    24px;
$x_large:     20px;
$large:       18px;
$normal:      16px;
$small:       14px;
$x_small:     12px;
$xx_small:    11px;
$xxx_small:   10px;
$xxxx_small:  9px;
$xxxxx_small: 8px;

