/* statistics */
$statistic_number_font_size:    36px;
$statistic_number_line_height:  36px;

$font_system: 'Open Sans Condensed', arial, sans-serif;
$font_user:   'Open Sans', arial, sans-serif;

body {
  font-family: $font_user;
  .btn, .nav { font-family: $font_system; }
}
