@mixin button($font_size, $button_color) {
  .btn {
    @include sassy-button("flat", 0px, $font_size, $button_color);
    padding: 0.3em 1em;
    &:focus { outline: none; }
    &:hover, &.active { box-shadow: none; }
  }  
}

@mixin active_button($font_size, $button_color, $active_button_color) {
  @include button($font_size, $button_color);
  .btn {
    &.active { background-color: $active_button_color; };
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin opener($color) {
  &.with-opener {
    &:before {
      content: "";
      border: 60px solid $color;
      border-width: 0 30px 30px 30px;
      border-color: $color transparent $color transparent;
      position: relative;
      top: -30px;           /* height of spacer */
      left: 50%;            /* align centric */
      margin-left: -30px;   /* ensure opener is centric */
      margin-bottom: -30px; /* don't push box' title down */
    }
  }
}


@mixin message($background_color, $border_color) {
  .message-container {
    border-color: $border_color;
    .message-box { 
      background-color: $background_color;
      .message-head {
        color: $border_color;
        a { color: $border_color; }
      }
    }
    .message-stats {
      background-color: $border_color;
    }
  }
}

@mixin box_colors($box_type) {
  @if       $box_type == quest { 
    background-color: $quest_box_color;
    .title { background-color: $quest_box_title_color; }
  }
  @else if  $box_type == quests { 
    background-color: $quests_box_color;
    .title { background-color: $quests_box_title_color; }
  }
  @else if  $box_type == offer { 
    background-color: $offer_box_color;
    .title { background-color: $offer_box_title_color; }
  }
  @else if  $box_type == offers { 
    background-color: $offers_box_color;
    .title { background-color: $offers_box_title_color; }
  }
  @else if  $box_type == comment { 
    background-color: $comments_box_color;
    .title { background-color: $comments_box_title_color; }
  }
  @else if  $box_type == user { 
    background-color: $user_box_color;
    .title { background-color: $user_box_title_color; }
  }
  @else if  $box_type == activities { 
    background-color: $activities_box_color;
    .title { background-color: $activities_box_title_color; }
  }
  @else if  $box_type == quest-filter { 
    background-color: $quests_box_title_color;
    .title { 
      background-color: $quests_box_color; 
      color: $quests_box_content_color;
    }
  }
  @else if  $box_type == offer-filter { 
    background-color: $offers_box_title_color;
    .title { 
      background-color: $offers_box_color; 
      color: $offers_box_content_color;
    }
  }
}