/*
 * patches.scss
 *
 * add your well documented css patches here
 */


@media (max-width: 767px) {
 body {                      /* removes wasted left and right padding */
   padding-left: 0px;
   padding-right: 0px;
  }
}
 
.alert {
  text-align: center;        /* centers flash message text */
}

.row-fluid {
  clear: both;               /* reset all floatings within next row */
}

.container-fluid {
  padding: 0;               /* reset all floatings within next row */
}

/* -------- modal dialoge --------- */
.modal-open {
  .modal {
    border: none;               /* removes ovelapping border in modal dialoge */
    .modal-body {
      max-height: 500px;        /* enables large forms to fit into modal dialoge */
    }
    form {
      margin: 0;                /* aligns modal dialoge's footer and body */
    }
  }
}

/* -------- icon ---------- */
a [class^="icon-"], a [class*=" icon-"] {
  text-align: left;                           /* usually awsome font icons are centered - align them left to leave some spaceto following text */
}

/* -------- button ---------- */
.btn {
  text-shadow: none !important;               /* get rif of the text shadow defined for all buttons */
}

/* -------- progress bar ---------- */

.progress {
  .bar {
    font-weight: bold;                        /* font looks much nicer when bold */
    &:after {
      content:"%";                            /* display progress bar value always as percentage */
    }
  }
}

/* -------- thumbnail gallery ---------- */

.row-fluid .thumbnails {
  margin: 0;                                  /* removes bottom margin to avoid gap between thumbnail rows */
}