/*
 * patches.scss
 *
 * add your well documented css patches here
 */


@media (max-width: 767px) {
 body {                      /* removes useless padding */
   padding: 0px;
  }
}
 
.alert.flash {
  text-align: center;         /* centers flash message text */
  @include border-radius(0);  /* remove border radius */
  z-index: 10;                /* display above content */
  position:fixed;
  top: $top_navigation_height;
  width: 100%;
  .close {
    right: 32px;
  }
}

.row-fluid {
  clear: both;               /* reset all floatings within next row */
}

.container-fluid {
  padding: 0;               /* reset all floatings within next row */
}

/* -------- modal dialoge --------- */
.modal {
  border: none;               /* removes ovelapping border in modal dialoge */
  form {
    margin: 0;                /* aligns modal dialoge's footer and body */
  }
}

/* -------- icon ---------- */
.btn [class^="icon-"], .btn [class*=" icon-"],
.nav li [class^="icon-"], .nav li [class*=" icon-"],
.stats-list li [class^="icon-"], .stats-list li [class*=" icon-"]{
  text-align: left;                           /* usually awsome font icons are centered - align them left to leave some spaceto following text */
  width: 1.5em;
}

/* -------- button ---------- */
.btn {
  text-shadow: none !important;               /* get rif of the text shadow defined for all buttons */
}

/* -------- thumbnail gallery ---------- */

.row-fluid .thumbnails {
  margin: 0;                                  /* removes bottom margin to avoid gap between thumbnail rows */
}


/* -------- mce wysiwyg editor ---------- */
table.mceLayout {
  background-color: white;                   /* hides space between text area and status bar */
}

.caret {
  border-top: 4px solid $text;
}