.accordion { margin: 0; }
.accordion-group {
  overflow: hidden;
  border: none;
  margin-bottom: 4px;
  @include border-radius(0);  /* remove border radius */
  .accordion-heading .accordion-toggle  { padding: $box_padding/2 $box_padding; }
  .accordion-body .accordion-inner      { padding: $box_padding; }
  .accordion-heading {
    i { 
      font-size: $large;
      line-height: $xx_large;
      &.fa-envelope {
        font-size: $normal;
        line-height: $x_large;
      }
    }
    a {
      color: $text;
      &:hover {
        color: $text;
        text-decoration: none;
      };
      &.password {
        background-color: $password;
        border: 1px solid $password;
        &:hover { 
          background-color: $password_highlight;
          border: 1px solid $password_highlight;
        };
      }
      &.signin {
        background-color: $signin;
        border: 1px solid $signin;
        &:hover { 
          background-color: $signin_highlight; 
          border: 1px solid $signin_highlight;
        };
      }
      &.email, &.confirm {
        background-color: $email;
        border: 1px solid $email;
        &:hover { 
          background-color: $email_highlight; 
          border: 1px solid $email_highlight;
        };
      }
      &.twitter {
        background-color: $twitter;
        border: 1px solid $twitter;
        &:hover { 
          background-color: $twitter_highlight; 
          border: 1px solid $twitter_highlight;
        };
      }
      &.facebook {
        background-color: $facebook;
        border: 1px solid $facebook;
        &:hover { 
          background-color: $facebook_highlight; 
          border: 1px solid $facebook_highlight;
        };
      }
      &.google {
        background-color: $google;
        border: 1px solid $google;
        &:hover { 
          background-color: $google_highlight; 
          border: 1px solid $google_highlight;
        };
      }
      &.linkedin {
        background-color: $linkedin;
        border: 1px solid $linkedin;
        &:hover { 
          background-color: $linkedin_highlight; 
          border: 1px solid $linkedin_highlight;
        };
      }
      &.xing {
        background-color: $xing;
        border: 1px solid $xing;
        &:hover { 
          background-color: $xing_highlight; 
          border: 1px solid $xing_highlight;
        };
      }
      &.address {
        background-color: $address;
        border: 1px solid $address;
        &:hover { 
          background-color: $address_highlight; 
          border: 1px solid $address_highlight;
        };
      }
      &.profile {
        background-color: $profile;
        border: 1px solid $profile;
        &:hover { 
          background-color: $profile_highlight; 
          border: 1px solid $profile_highlight;
        };
      }
      &.delete {
        background-color: $delete;
        border: 1px solid $delete;
        &:hover { 
          background-color: $delete_highlight; 
          border: 1px solid $delete_highlight;
        };
      }
    }
    h4 {
      font-size: $normal;
      margin: 0;
    }
  }
  .accordion-body {
    border: none;
    .accordion-inner {
      border: 1px solid $gray_dark;
      border-top: none;
      .buttons { margin: 8px 0; }
    }
  }
}

/* ------- screen resolution adjustments ------- */

@media only screen and (max-width: 683px) {
  .accordion-group {
    .accordion-heading .accordion-toggle  { padding: $box_padding/8 $box_padding/2; }
    .accordion-body .accordion-inner      { padding: $box_padding/2; }
    .accordion-heading {
      i { 
        font-size: $normal;
        line-height: $x_large;
        &.fa-envelope { 
          font-size: $small;
          line-height: $large;
        }
      }
      h4 { font-size: $x_small; }
    }
  }
}
