/* ------- backgrounds ------- */
.bg-solid-black {
  background-color: #000;
}

.bg-solid-gray {
  background-color: $background_gray;
}

.bg-solid-gray-dark {
  background-color: $background_gray_dark;
}

.bg-solid-white {
  background-color: $background_inverse;
}
