.box {
  /* ------- text colors ------- */
  color: white;
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: $navigation_text_highlight;
    }
  }

  /* ------- background colors ------- */
  &.quests { @include box_colors(quests); }
  &.offers { @include box_colors(offers); }
  
  /* ------- title ------- */
  .title {
    padding: 0 10px;
    height: 36px;
    margin: 0 0 10px 0;
  }
  
  /* ------- content ------- */
  .content {
    padding: 10px;
    clear: both;
  }
}