.box {
  /* ------- text colors ------- */
  color: white;
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: $navigation_text_highlight;
    }
  }

  /* ------- title ------- */
  .title {
    padding: 0 20px;
    height: 36px;
    margin: 0 0 10px 0;
    .interactions {
      padding: 8px 0;
      & > li {
        list-style: none;
        float: left;
        margin-left: 0.2em;
        span {
          display: none;
        }
      }
    }
  }
  
  /* ------- content ------- */
  .content {
    padding: 20px 20px 0 20px;
    clear: both;
    .description {
      margin: 10px 0 40px 0;
    }
    .image-section {
      margin-top: 40px;
    }
    .criteria-section {
      margin-top: 40px;
      font-weight: bold;
      font-size: 120%;
      p {
        font-size: 100%
      }
      ol {
        margin-bottom: 40px;
        & > li {
          margin: 5px 0;
        }
      }
    }
  }
}