.box {

  &.quest,    &.quests  { @include button(16px, $quest_button_color); }
  &.offer,    &.offers  { @include button(16px, $offer_button_color); }
  &.user,     &.users   { @include button(16px, $user_button_color); }
  &.comments, &.comment { @include button(16px, $comment_button_color); }

  /* ------- title ------- */
  .title {
    color: $text;
    padding: 8px 16px;
    height: 38px;
    margin: 0;
    line-height: 40px;
    font-size: 24.5px;
    font-weight: bold;
    text-rendering: optimizelegibility;
  }
  
  /* ------- content ------- */
  .content {
    padding: 16px 0 0 0;
    clear: both;
    h1 {
      line-height: 30px;
      font-size: 24.5px;
      margin-top: 0;
    }
    .statistic {
      color: $text_inverse;
    }
    .description {
      line-height: 120%;
      font-size: 110%;
    }
    .image-section, .criteria-section {
      margin: 20px 0 0 0;
      font-size: 110%;
    }
    .button-section {
      float: right;
      margin: 20px 0 30px 0;
    }
    .criteria-section {
      font-weight: bold;
      .criteria {
        & > li {
          margin: 5px 0;
          clear: both;
          .criterium-title, .criterium-comment {
            width: 66%;
          }
          .progress { 
            float: right;
            width: 33%;
          }
          .criterium-comment {
            font-weight: normal;
            font-style: italic;
          }
        }
      }
    }
  }
  
  /* ------- statistic ------- */
  &.statistic {
    &.offer { background-color: $offer_box_statistic_color; }
    &.quest { background-color: $quest_box_statistic_color; }
    &.user  { background-color: $user_box_statistic_color; 
      ul.stars {
        margin: 0;
        float: right;
        list-style: none;
        li {
          float: left;
          line-height: 15px;
        }
      }
    }
    
    position: relative;
    display: block;
    padding: 10px 10px 10px 10%;
    height: 64px;
    color: $text;
    font-weight: bold;
    .icon {
      margin: 8px 0 0 0;
      float: right;
      line-height: 15px;
    }
    .count {
      font-size: 36px;
      line-height: 30px;
      margin-top: 8px;
    }
    .text {
      font-size: 90%;
      border-top: 7px solid white;
      margin-top: 4px;
    }
  }
  
  /* ------- forms ------- */
  form {
    padding: 0 50px;
    .buttons { margin: 30px 0; }
    .buttons, .controls { 
      .btn {
        background-image: none;
        padding: 4px 8px;
        &:hover { 
          background-position: 0 -30px;
          @include transition(none);
        }
        &.btn-cancel {
          background-color: $cancel_button_bg_color;
          &:hover { background-color: $cancel_button_hover_bg_color };
        }
      }
    }
    a { color: $text_inverse; }
  }
  
}