.box {
  &.comments { 
    /* common box colors */
    @include box_colors(comment);
    
    /* opener triangle */
    @include opener($comments_box_title_color);
  }
  form {
    margin: 0;
    input[type="submit"] {
       float: right;
     }
  }
  ul#comments {
    & > li {
      &#no_comments {
        min-height: 0;
      }
    }
  }
  #new_comment {
    clear: both;
  }
}

/* ------- message boxes ------- */
.comment {
  .message-container {
    .message-box {
      @include message($comments_box_content_color, $comments_box_content_color);
    }
  }
}
