.box {
  &.comments { 
    /* common box colors */
    @include box_colors(comment);
    
    /* opener triangle */
    @include opener($comments_box_title_color, $open_center);
    
    .content {
      background-color: $comments_box_form_background;
      padding: 0;
    }
    form {
      padding: 16px 16px 16px 0;
      margin: 0 0 0 $box_content_h_padding;
      textarea { min-width: $message_width; }
      buttons { width: message_stats_width; }
    }
    ul#comments {
      & > li {
        &#no_comments {
          min-height: 0;
        }
      }
    }
    #new_comment {
      position: relative;
      clear: both;
      .buttons { 
        position: absolute;
        right: 16px;
        bottom: 16px;
        margin: 0; 
      }
    }
  }
}

/* ------- message boxes ------- */
.comment {
  .message-container {
    .message-box {
      @include message($comments_box_content_color, $comments_box_content_color);
    }
  }
}
