.box {
  &.comments { 
    /* common box colors */
    @include box_colors(comment);
    
    /* opener triangle */
    @include opener($comments_box_title_color, $open_center);
    
    .content {
      background-color: $comments_box_form_background;
      min-height: 0;
      padding-bottom: 1px;
    }
    form { 
      margin-bottom: 64px;
      textarea { width: 95%; }
    }
    .message-container {
      height: auto;
      .message-box { padding-right: $message_padding; }
    }
  }
}

/* ------- message boxes ------- */
.comment {
  .message-container {
    .message-box {
      @include message($comments_box_content_color, $comments_box_content_color);
    }
  }
}

/* ------- screen resolution adjustments ------- */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 979px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .box {
    &.comments {
      .message-container {
        .message-box {
          .message-head { padding-right: 0;}
          .text-container { width: 85%; }
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .box {
    &.comments {
      form {
        margin-bottom: 42px;
      }
      .message-container {
        .message-box { padding: $message_padding/2; }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .box {
    &.comments {
      .message-container {
        .message-box {
          .text-container { width: 80%; }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
}