.criteria {
  list-style: none;
  margin: 0;
  li {
    margin: 0;
    line-height: 14px;
    .index {
      float: left;
      text-align: center;
      font-family: $font_system;
      color: $text;
      padding: 6px;
      width: 14px;
      height: 14px;
      font-size: $normal;
      line-height: $x_small;
    }
    .title {
      margin: 4px 0 16px 36px;
      font-size: $small;
      line-height: $normal;
    }
    .complience { margin-bottom: 16px; }
  }
}

.progress {
  margin: 0 0 8px 0;
  padding: 8px;
  background-image: none;
  box-shadow: none;
  @include border-radius(0);
  background-color: $offer_comliance_color;
  .bar-container { 
    width: 85%;
    .bar { 
      background-image: none;
      background-color: $white;
      height: 8px;
      margin: 6px 0;
    }
  }
  .value {
    width: 15%;
    float: right;
    font-family: $font_system;
    color: $text;
    font-size: $x_large;
    text-align: right;
    &:after { content: "%" };
  }
}

/* ------- screen resolution adjustments ------- */

@media only screen and (max-width: 683px) {
  .criteria {
    li {
      .index {
        padding: 4px;
        width: 12px;
        height: 12px;
        font-size: $x_small;
        line-height: 12px;
      }
      .title {
        font-size: $x_small;
        line-height: $normal;
        margin: 2px 0 8px 24px;
      }
      .complience { margin-bottom: 8px; }
    }
  }

  .progress {
    padding: 2px 8px;
    margin: 0 0 4px 0;
    height: 16px;
    .bar-container {
      .bar { height: 4px; }
    }
    .value { font-size: $x_small }
  }
}
