/* ------- datepicker ------- */
.ui-datepicker {
  width: auto;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  table {
    width: 100%;
  }
}

.ui-datepicker-calendar {
  .ui-state-active, .ui-state-hover, th {
    border-color: $highlight;
  }
}

.ui-datepicker-header {
  border-color: $highlight;
}