/* ------- modal ------- */
.modal {
  .modal-body {
    max-height: 600px; /* enables large forms to fit into modal dialoge */
  }
}

.modal, .modal-header, .modal-footer {
  border: none;
  @include border-radius(0);  /* remove border radius */
  box-shadow: none;
}

.modal-header {
  background-color: $modal_header;
  .modal-headline { color: $text; }
  h3 { font-size: $xx_large }
  padding: $box_padding/2 $box_padding;
}

.modal-body {
  background-color: $modal_body;
  padding: $box_padding;
}

.modal-footer {
  background-color: $modal_footer;
}

.quests { .modal-header { background-color: $quest_box_title_color; }}
.offers { .modal-header { background-color: $offer_box_title_color; }}
.users  { 
  .modal-header { 
    background-color: $user_box_title_color;
    &.address   { background-color: $address_box_title_color; }
    &.email     { background-color: $email_box_title_color; }
    &.twitter   { background-color: $twitter_box_title_color; }
    &.facebook  { background-color: $facebook_box_title_color; }
    &.google    { background-color: $google_box_title_color; }
    &.linkedin  { background-color: $linkedin_box_title_color; }
    &.xing      { background-color: $xing_box_title_color; }
  }
}

#myModal { top: $top_navigation_height; }

#filepicker_dialog_container { top: 7% !important; }


/* ------- screen resolution adjustments for screen width! ------- */

@media only screen and (max-width: 600px) {
  #myModal { top: $top_navigation_min_height; }
}

@media only screen and (max-width: 568px) {
  #myModal { top: $page_padding; }
  .modal {
    .modal-header{
      padding: $box_padding/8 $box_padding/2;
      h3 { font-size: $normal; }
    }
    .modal-body {
      padding: $box_padding/2;
      p { font-size: $x_small; }
    }
    .modal-footer { padding: ($box_padding/2)+1 $box_padding/2 $box_padding/2 $box_padding/2}
  }
}

/* ------- screen resolution adjustments for screen height! ------- */

@media only screen and (max-height: 800px) {
  .modal {
    .modal-body { max-height: 640px; }
  }
}

@media only screen and (max-height: 768px) {
  .modal {
    .modal-body { max-height: 580px; }
  }
}

@media only screen and (max-height: 600px) {
  .modal {
    .modal-body { max-height: 420px; }
  }
}

@media only screen and (max-height: 568px) {
  .modal {
    .modal-body { max-height: 460px; }
  }
}

@media only screen and (max-height: 480px) {
  .modal {
    .modal-body { max-height: 320px; }
  }
}

@media only screen and (max-height: 320px) {
  .modal {
    .modal-body { max-height: 220px; }
  }
}
