/* ------- modal ------- */
.modal {
  .modal-body {
    max-height: 600px; /* enables large forms to fit into modal dialoge */
  }
}

.modal, .modal-header, .modal-footer {
  border: none;
  @include border-radius(0);  /* remove border radius */
  box-shadow: none;
}

.modal-header {
  background-color: $modal_header;
  .modal-headline { color: $text; }
}

.modal-body   { background-color: $modal_body; }
.modal-footer { background-color: $modal_footer; }

.quests { .modal-header { background-color: $quest_box_title_color; }}
.offers { .modal-header { background-color: $offer_box_title_color; }}
.users  { 
  .modal-header { 
    background-color: $user_box_title_color;
    &.address   { background-color: $address_box_title_color; }
    &.email     { background-color: $email_box_title_color; }
    &.twitter   { background-color: $twitter_box_title_color; }
    &.facebook  { background-color: $facebook_box_title_color; }
  }
}

/* ------- filepicker ------- */
#filepicker_dialog_container, #myModal {
  top: 7% !important;
}

ul.fp-slides {
  &.fp-slides-edit {
    width: 580px;
    margin: 10px 0 0 0;
    list-style: none;
    li {
      position: relative;
      float: left;
      margin: 0 5px 5px 0;
      background-color: $gray;
      overflow: hidden;
      width: 65px;
      height: 65px;
      .image-container {
        line-height: 65px;
      }
      img {
        margin: 0 auto;
        display: block;
        width: auto;
        max-height: 100%;
      }
      &:hover {
        & > a.btn { 
          display:block; 
          text-decoration: none;
          background-color: $white;
        }
      }
      a.btn {
        display: none;
        position: absolute;
        top: 0;
        color: $text_inverse;
        background-color: $white;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        text-align: right;
        i {
          position: absolute;
          left: 25px;
          top: 25px;
        }
      }
    }
  }
}

@media (max-height: 768px) {
  .modal {
    .modal-body {
      max-height: 450px;
    }
  }
}
