/* ------- modal ------- */
.modal {
  .modal-body {
    max-height: 600px; /* enables large forms to fit into modal dialoge */
  }
}

.modal, .modal-header, .modal-footer {
  border: none;
  @include border-radius(0);  /* remove border radius */
  box-shadow: none;
}

.modal-header {
  background-color: $modal_header;
  .modal-headline { color: $text; }
  h3 { font-size: $xx_large }
  padding: 1% 5%;
}

.modal-body {
  background-color: $modal_body;
  padding: 5%;
}

.modal-footer { 
  background-color: $modal_footer; 
}

.quests { .modal-header { background-color: $quest_box_title_color; }}
.offers { .modal-header { background-color: $offer_box_title_color; }}
.users  { 
  .modal-header { 
    background-color: $user_box_title_color;
    &.address   { background-color: $address_box_title_color; }
    &.email     { background-color: $email_box_title_color; }
    &.twitter   { background-color: $twitter_box_title_color; }
    &.facebook  { background-color: $facebook_box_title_color; }
    &.google    { background-color: $google_box_title_color; }
    &.linkedin  { background-color: $linkedin_box_title_color; }
    &.xing      { background-color: $xing_box_title_color; }
  }
}

#myModal, #filepicker_dialog_container {
  top: 7% !important;
}

}

@media only screen and (max-width: 600px) {
  .modal {
    .modal-header {
      padding: 1% 3%;
      h3 { font-size: $large; }
    }
    .modal-body {
      padding: 3%;
      p {
        font-size: 85%;
        line-height: 120%;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .modal {
    .modal-header {
      h3 { font-size: $large; }
    }
  }
}

@media only screen and (max-height: 768px) {
  .modal {
    .modal-body { max-height: 600px; }
  }
}

@media only screen and (max-height: 600px) {
  .modal {
    .modal-body { max-height: 420px; }
  }
}

@media only screen and (max-height: 568px) {
  .modal {
    .modal-body { max-height: 425px; }
  }
}

@media only screen and (max-height: 480px) {
  .modal {
    .modal-body { max-height: 365px; }
  }
}

@media only screen and (max-height: 320px) {
  .modal {
    .modal-body { max-height: 200px; }
  }
}
