.box {
  &.filter {
    margin-bottom: $box-padding;
    &.quest, &.offer {
      .content { border-bottom: none; }
    }
    .content { 
      min-height: 24px;
      padding: $box-padding;
    }
    &.quest {
      @include box_colors(quest-filter);
      @include active_button(16px, $quest_button_color, $quest_active_button_color);
    }
    &.offer {
      @include box_colors(offer-filter);
      @include active_button(16px, $offer_button_color, $offer_active_button_color);
    }
    &.offer, &.quest {
      .btn-link {
        padding: 0.3em 5%;
        width: 90%;
      }
    }
    
    /* ------- filter list ------- */  
    .filter-list {
      ul {
        margin: 0;
        width: 100%;
        li {
          margin-bottom: 8px;
          .filtername  { float: left; }
          .filtercount { float: right; }
          &:last-child { margin-bottom: 0; }
        }
      }
    }
    
    /* ------- filter dropdowns ------- */
    .filter-select  { display: none; }
    form {
       margin: 0;
      .control-group { 
        margin-bottom: 8px;
        &:last-child { margin-bottom: 0; }
        .controls { 
          margin: 0; 
          input[type="search"] {
            @include border-radius(0);  /* remove border radius */
            background-color: $content_color;
          }
        }
        .btn-group {
          outline: none;
          width: 100%;
          .dropdown-menue { border-top: none; }
        }
      }
    }
  }
}

/* ------- screen resolution adjustments ------- */

@media only screen and (max-width: 800px) {
  .box {
    &.filter {
      .filter-list    { display: none; }
      .filter-select  { display: block; }
    }
  }
}

@media only screen and (max-width: 683px) {
  .box {
    &.filter {
      margin-bottom: 0;
      .header { display: none; }
      .content { 
        padding: $box-padding/2; 
        form { min-height: 30px; }
      }
      &.location {
        .control-group {
          &.text-field {
            float: left;
            width: 50%;
          }
          &.select {
            float: right;
            width: 45%;
            .bootstrap-select.btn-group {
               .dropdown-menu { width: 100%; }
            }
          }
        }
      }
    }
  }
}
