.box {
  &.filter {
    margin-bottom: $box-padding;
    &.quest {
      @include box_colors(quest-filter);
      @include active_button(16px, $quest_button_color, $quest_active_button_color);
    }
    &.offer {
      @include box_colors(offer-filter);
      @include active_button(16px, $offer_button_color, $offer_active_button_color);
    }
    &.offer, &.quest {
      .btn-link {
        padding: 0.3em 5%;
        width: 90%;
      }
    }
    
    /* ------- kategory/status filter ------- */  
    &.category, &.states {
      ul {
        margin: 0;
        width: 100%;
        li {
          margin-bottom: 8px;
          .filtername  { float: left; }
          .filtercount { float: right; }
          &:last-child { margin-bottom: 16px; }
        }
      }
    }
    
    /* ------- location filter ------- */  
    &.location {
      form {
         margin: -3px 0 0 0;
        .control-group { 
          margin-bottom: 8px;
          .controls { 
            margin: 0; 
            input[type="search"] {
              @include border-radius(0);  /* remove border radius */
              background-color: $content_color;
            }
          }
          .btn-group {
            outline: none;
            width: 100%;
            .dropdown-menue { border-top: none; }
          }
        }
      }
    }
  }
}

/* ------- screen resolution adjustments ------- */

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 600px) {
  .sidebar {
    .category, .states {
      &.filter {
        &.box  { 
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
}

@media only screen and (max-width: 480px) {
}
