.filter {
  &.quest.box {
    @include box_colors(quest-filter);
  }
  &.offer.box {
    @include box_colors(offer-filter);
  }
  
  ul {
    list-style: none;
    margin: 0;
    width: 100%;
    li {
      margin-bottom: 5px;
      .count { float: right; }
    }
  }
}


