/* ------- box form ------- */

.box {
  &.form {
    padding: 0 20%;
  }
  form {
    .control-label { 
      width: 25%; 
      overflow: hidden;
    }
    .controls { margin-left: 28%; }
    .buttons, .controls { 
      .btn-group {
        &:hover {
          .dropdown-menu { display: block; }
        }
        .btn {
          &.dropdown-toggle {
            box-shadow: none;
            height: 30px;
          }
        }
        .dropdown-menu {
          @include border-radius(0);  /* remove border radius */
          background-color: $content_color;
          margin: 0;
          li > a {
            &:hover { 
              background-image: none;
              background-color: $petrol; 
            }
          }
        }
      }
      .btn {
        background-image: none;
        padding: 4px 8px;
        &:hover { 
          background-position: 0 -30px;
          @include transition(none);
        }
        &.btn-cancel {
          background-color: $cancel_button_bg_color;
          &:hover { background-color: $cancel_button_hover_bg_color };
        }
      }
    }
    a { color: $text_inverse; }
  }
}

/* ------- form ------- */
form {
  .alert {
    font-size: $large;
    padding: 1% 2%;
  }
  p.legend {
    font-weight: bold;
    margin-bottom: 16px;
  }
  .control-group {
    textarea, .progress.main,
    input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="url"], input[type="number"] {
      width: 95%;
      padding: inherit 2%;
      border-radius: 0;
      -webkit-appearance: none;
    }
    label {
      font-weight: bold;
      &.checkbox { margin-bottom: 0; }
      &.radio    { font-weight: normal; }
    }
    .input-append {
      .add-on { color: $text_inverse; }
    }
    &.error {
      .help-inline, .help-block {
        font-size: $large;
        line-height: 120%;
        padding: 5px 0 0 5px;
      }
      .checkbox { box-shadow: none; }
    }
  }
  .location {
    label {
      &.checkbox { margin-left: 20%; }
    }
    #googlemap {
      margin: 0 2% 16px 20%;
      width: auto;
      height: 300px;
    }
  }
  .checkbox-group {
    &.twitter, &.facebook, &.google, &.linkedin, &.xing {
      position: relative;
      margin: 4px 0;
      padding: 0px 10px;
      color: $text;
      label { padding-top: 3px; }
      i {
        font-size: $large;
        position: absolute;
        right: 10px;
        bottom: 6px;
      }
    }
    &.twitter  { 
      background-color: $twitter; 
      &:hover {background-color: $twitter_highlight; }
    }
    &.facebook { 
      background-color: $facebook; 
      &:hover {background-color: $facebook_highlight; }
    }
    &.google { 
      background-color: $google; 
      &:hover {background-color: $google_highlight; }
    }
    &.linkedin { 
      background-color: $linkedin; 
      &:hover {background-color: $linkedin_highlight; }
    }
    &.xing { 
      background-color: $xing; 
      &:hover {background-color: $xing_highlight; }
    }
  }
  .tweet-message {
    margin-top: 18px;
    .controls { margin-left: 0; }
    textarea  { width: 516px; }
  }
  .tweet-container {
    position: relative;
    .avatar {
      float: left;
      height: 48px;
      @include border-radius(3px);
    }
    #tweet {
      color: $message_color;
      font-weight: bold;
      line-height: 1.3;
      @include message($message_background, $message_border);
      border: 2px solid $message_border;
      @include border-radius(3px);
      margin-left: 60px;
      min-height: 35px;
      padding: 4px 8px;
      &:before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        border: 10px solid $message_border;
        border-width: 10px 10px 10px 0;
        border-color: transparent $message_border transparent transparent;
        position: absolute;
        top: 15px;
      }
      &:before { left: 50px; }
    }
  }
  .checkbox-group {
    margin: 18px 0;
    .checkbox {
      .control-group {
        margin-bottom: 0;
      }
    }
  }
  .buttons {
    float: right;
    .btn {
      font-size: $large;
      line-height: 120%;
      border: none;
      @include border-radius(0);  /* remove border radius */
      background-image: none;
      box-shadow: none;
      &:hover { @include transition(none); }
      &.btn-cancel {
        background-color: $cancel_button_bg_color;
        &:hover { background-color: $cancel_button_hover_bg_color };
      }
    }
  }
  .criteria {
    margin-left: 0;
    & > li {
/* TODO: style criteria bullet points here...
      &:before {
        content: counter(item);
        counter-increment: item;
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: $offers_box_title_color;
        text-align: center;
        color: $text;
        font-family: $font_system;
        font-size: $x_large;
        font-weight: bold;
        margin: auto .5em auto .5em;
      }
*/
      margin-bottom: 16px;
      .title { 
        color: $quests_box_title_color;
        font-weight: bold; 
        margin: 0 0 8px 44px;
      }
      .control-group {
        &.range-slider {
          width: 100%;
          .controls {
            input[type='range'] {
              @include appearance(none);
              padding: 0;
              height: 16px;
              width: 50%;
              @include border-radius(10px);
              /* border: 1px solid; */
            }
            .range-slider-prefix, .range-slider-postfix {
              padding-top: 5px;
              display: inline-block;
              text-align: center;
            }
          }
          .range-slider-prefix  { padding-right: 10px; }
          .range-slider-postfix { padding-left: 10px; }
        }
        &.compliance {
          .progress {
            float: right;
            width: 250px;
          }
        }
      }
    }
  }
}

/* code by @naoisegolden */

.step-indicator {
  margin: -8px 0 0 0;
  padding: 0;
  counter-reset: item;
  li {
    display: block;
    float: left;
    line-height: 40px;
    font-size: $x_small;
    font-weight: bold;
    color: gray;
    margin-right: 10px;
    &:last-child { margin-right: 0; }
    &.active {
      color: white;
      &:before {
        background-color: black;
      }
    }
    &:before {
      content: counter(item);
      counter-increment: item;
      display: inline-block;
      text-align: center;
      line-height: 25px;
      width: 25px;
      height: 25px;
      background-color: #ccc;
      @include border-radius(50%);
      margin: 0 .5em;
      margin-bottom: .25em;
    }
  }
}

/* ------- screen resolution adjustments ------- */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 979px) {
}

@media only screen and (max-width: 800px) {
  .box {
    &.form { padding: 0 10%; }
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .box {
    &.form  { padding: 0 5%; }
    .content {
      .criteria-section {
        .criteria {
          li {
            .title { 
              font-size: $x_small;
              margin: 0 0 8px 30px;
            }
            .index {
              padding: 4px;
              width: 16px;
              height: 16px;
              font-size: $large;
            }
          }
        }
      }
    }
  }
  .mceContentBody {
    p { 
      margin: 0 0 5px;
      line-height: 1.2em;
      font-size: $x_small; 
    }
  }
  form {
    &.form-horizontal {
      .control-group { 
        margin-bottom: 8px;
        label, input, button, select, textarea, .range-slider-prefix, .range-slider-postfix, .dropdown-menu.inner { font-size: $x_small; }
        .input-append, .input-prepend { font-size: $x_small; } /* needed since bootstrap's input-append sets font-size to 0 */
        .btn-group, .controls {
          .btn { 
            line-height: 24px;
            font-size: $small;
            &.dropdown-toggle { font-size: $x_small; }
          }
          .dropdown-menu  { font-size: 12px; }
        }
        &.error {
          .help-inline, .help-block {
            font-size: $x_small;
            padding: 2px 0 0 2px
          }
        }
      }
      .buttons {
        .btn {  font-size: 14px; }
      }
    }
    .legend { 
      font-size: $x_small;
      line-height: 120%;
    }
    .alert {
      font-size: $x_small;
      margin-bottom: 8px;
    }
  }
}

@media only screen and (max-width: 568px) {
  .box {
    &.form {
      .header { 
        padding-bottom: 10px;
        .step-indicator {
          li {
            font-size: 90%;
            line-height: 36px;
            margin-right: 3px;
            &::before {
              line-height: 20px;
              width: 20px;
              height: 20px;
              margin: 0 0.15em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .box {
    &.form { 
      padding: 0 1%; 
      form {
        .control-label { width: 100%; }
        .controls { margin-left: 0; }
        .location {
          #googlemap { 
            margin-left: 0;
            margin-right: 0;
          }
          label {
            &.checkbox { margin-left: 0; }
          }
        }
      }
    }
  }
  .modal-body{
    form {
      &.form-horizontal {
        .control-group { 
          &.text-field, &.text-area, &.password-field {
            .control-label {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
}