/* ------- form ------- */
form {
  .control-group {
    label {
      font-weight: bold;
      &.radio {
        font-weight: normal;
        &.inline {
          width: 3.8em;
        }
      }
    }
  }
  .tweet-container {
    position: relative;
    .avatar {
      float: left;
      @include square(48px);
      @include border-radius(3px);
    }
    #tweet {
      @include message($message_background, $message_border);
      &:before {
        left: 50px;
      }
      margin-left: 60px;
      min-height: 35px;
      padding: 5px 10px;
    }
  }
  .checkbox-group {
    margin: 18px 0;
    .checkbox {
      .control-group {
        margin-bottom: 0;
      }
    }
  }
  .buttons {
    float: right;
    margin-bottom: 10px;
  }
}