/* ------- ribbon ------- */
.horizontal-ribbon {
  margin: 40px -10px 20px -10px;
  color: $highlight;
  font-weight: bold;
  font-style: italic;
  .row-fluid {
    min-height: 70px;
    @include box-shadow(rgba(0,0,0,0.55) 0px 5px 20px);
  }
  .headline {
    text-align: center;
  }
  h1 {
    padding: 17px 15px 12px 15px;
    text-align: center;
    font-style: normal;
    line-height: 1.1;
    small {
      color: $text_major;
      font-weight: bold;
    }
  }
  a {
    color: link_text;
    text-decoration: none;
    strong {
      color: $link_text;
    }
  }
  p {
    display: block;
    font-style: italic;
    font-size: 16px;
    color: $text_major;
  }
  .corner {
    border-style:solid;
    border-width:10px;
    height:0px;
    width:0px;
    position: relative;
    z-index: -1;
    &.left {
      border-color: transparent $background_gray_dark transparent transparent;
      left: -10px;
      top: -10px;
    }
    &.right {
      border-color: transparent transparent transparent $background_gray_dark;
      left: 950px;
      top: -30px;
    }
  }
}

@media (min-width: 1200px) {
  .horizontal-ribbon {
    .corner {
      &.right {
        left: 1180px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .horizontal-ribbon {
    .corner {
      &.right {
        left: 735px;
      }
    }
  }
}
@media (max-width: 767px) {
  .horizontal-ribbon {
    margin: 0;
    .corner {
      display: none;
    }
  }
}
