body {
  @include background-size(cover);
  &.offers { background: image-url("background/BG_1.jpg") no-repeat center center fixed; }
  &.users  { background: image-url("background/BG_2.jpg") no-repeat center center fixed; }
  &.quests { background: image-url("background/BG_3.jpg") no-repeat center center fixed; }
  &.home   { background: image-url("background/BG_4.jpg") no-repeat center center fixed; }
}

.quest {
  a.thumbnail {
    border-color: $quest_image_border;
    &:hover { border-color: $quest_image_border_highlight;}
  }
}
.offer {
  a.thumbnail {
    border-color: $offer_image_border;
    &:hover { border-color: $offer_image_border_highlight;} 
  }
}

.image-stack, .image-single {
  margin: 0 0 0 5%;
  position: relative;
  z-index: 10;
  display: block;
  
  img {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
  }
  img, &:before, &:after {
    border: 2px solid #fff;
    @include border-radius(1px);
    @include box-sizing(border-box);
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 4px);
  }
}

.image-stack {
  &:before, &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    @include transition(0.5s all ease-out);
  }
  &:before {
    top: 2px;
    z-index: -10;
  }
  &:after {
    top: 4px;
    z-index: -20;
  }
  &.rotated:before {
    @include transform-origin(0, 100%, 0);
    @include transform(rotate(-3deg));
  }
  &.rotated:after {
    @include transform-origin(0, 100%, 0);
    @include transform(rotate(-6deg));
  }
  &:hover:before, &:hover:after {
    @include transform(rotate(0deg));
  }
}
