.loader {
  text-align: center;
  clear: both;
  padding: 16px;
  a { 
    font-size: 120%;
    color: $text; 
  }
}


ul.list {
  margin: 0;
  li {
    list-style: none;
    position: relative;
  }
  & > li { 
    min-height: $message_height + ($message_padding / 2); 
    &:last-child { min-height: 0; }
  }

  /* ------- statistic ------- */
  .statistic {
    font-family: $font_system;
    padding: $box_padding;
    dl {
      margin: 0;
      min-height: 10ex;
      dt {
        float: left;
        clear: both;
        font-size: 1.5ex;
        &:first-child { font-size: 2ex; }
      }
      dd { float: right; }
    }
  }
}
