.loader {
  text-align: center;
}


ul.list {
  margin: 0;
  li {
    list-style: none;
    position: relative;
  }
  & > li {
    clear: both;
    min-height: 10ex;
    margin-bottom: 5ex;
    .avatar {
      @include border-radius(3px);
    }
  }
}
