/* ------- messages ------- */
.flash {
  text-align: center;
  border-radius: 0;
  &.alert {
    margin: 10px 0 -85px 0;
  }
}

@media (min-width: 980px) {
  .flash {
    &.alert {
      margin-top: 50px;
    }
  }
}

@media (max-width: 979px) {
  .flash {
    &.alert {
      margin-bottom: -45px;
    }
  }
}