/* ------- message ------- */
.message-container {
  position: relative;
  margin-bottom: 1ex;
  img {
    float: left;
  }
  .message-box {
    display: block;
    min-height: 10ex;
    margin-left: 84px;
    &:before {
      left: 74px;
    }
    .message {
      display: inline-block;
      width: 100%;
      min-height: 3.5ex;
      margin: 3.0ex 0 2.5ex 0;
    }
    .message-head {
      position: relative;
    }
    .owner {
      position: absolute;
      width: 60%;
    }
    .time {
      position: absolute;
      right: 0;
      width: 40%;
      text-align: right;
      font-style: italic;
      font-size: 12px;
      line-height: 1.5;
    }
    &:hover {
      .btn-group {
/*        display: block; */
      }
    }
    .btn-group {
/*      display: none; */
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}

/* ------- small messages ------- */
.span6 {
  ul.list {
    .message-container {
      .message-box {
        margin-left: 64px;
        &:before {
          left: 54px;
        }
      }
    }
  }
}