/* ------- message boxes ------- */
.quest {
  .message-box {
    @include message($quests_box_content_color, $quests_box_content_color);
  }
  dl.statistic {
    border-color: $quests_box_content_color;
    color: $quests_box_content_color !important;
  }
}
.offer {
  .message-box {
    @include message($offers_box_content_color, $offers_box_content_color);
  }
  dl.statistic {
    border-color: $offers_box_content_color;
    color: $offers_box_content_color !important;
  }
}
.comment {
  .message-container {
    .message-box {
      @include message($comments_box_content_color, $comments_box_content_color);
    }
  }
}

.span6 {
  ul.list {
    li.offer, li.comment {
      .message-container {
        .message-box {
          margin-left: 64px;
          &:before {
            left: 54px;
          }
          .message-head {
            min-height: 4ex;
          }
        }
      }
    }
  }
}

/* ------- message ------- */
.message-container {
  position: relative;
  margin-bottom: 1ex;
  img {
    float: left;
  }
  .message-box {
    display: block;
    min-height: 10ex;
    margin-left: 84px;
    &:before {
      left: 74px;
    }
    .message {
      display: inline-block;
      margin: 1ex 0;
    }
    .message-head {
      position: relative;
      min-height: 3.5ex;
    }
    .owner {
      position: absolute;
      width: 60%;
    }
    .time {
      position: absolute;
      right: 0;
      width: 40%;
      text-align: right;
      font-style: italic;
      font-size: 12px;
      line-height: 1.5;
    }
    &:hover {
      .btn-group {
/*        display: block; */
      }
    }
    .btn-group {
/*      display: none; */
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}
/* ------- statistic ------- */
dl.statistic {
  @include border-radius(3px);
  border: 2px solid;
  margin: 0;
  padding: 5px 10px;
  min-height: 10ex;
  dt {
    float: left;
    clear: both;
    font-size: 1.5ex;
    &:first-child { 
      font-size: 2ex;
      margin-bottom: 1ex; 
    }
  }
  dd {
    float: right;
  }
}
