/* ------- message ------- */
.message-container {
  position: relative;
  margin-bottom: 1ex;
  img {
    float: left;
  }
  .message-box {
    display: block;
    min-height: 10ex;
    margin-left: 84px;
    &:before {
      left: 74px;
    }
    .message {
      display: inline-block;
      margin-bottom: 3ex;
    }
    .message-head {
      position: relative;
      min-height: 3.5ex;
    }
    .owner {
      position: absolute;
      width: 60%;
    }
    .time {
      position: absolute;
      right: 0;
      width: 40%;
      text-align: right;
      font-style: italic;
      font-size: 12px;
      line-height: 1.5;
    }
    &:hover {
      .btn-group {
/*        display: block; */
      }
    }
    .btn-group {
/*      display: none; */
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}
