/* ------- navigation ------- */
.navbar {
  margin: 0;
  -webkit-transform: translateZ(0); /* prevent flickering in Safari when performing transformations */
  .nav {
    font-size: 16px;
    font-weight: bold;
    li {
      a {
        &, &:focus {
          color: $navigation_text;
          text-shadow: none;
          outline: none;
        }
      }
      &.active > a, &.active > a:hover, a:hover {
        color: $navigation_text;
        background: transparent;
        box-shadow: none;
      }
      &.active > a:hover, a:hover {
        background: $navigation_item_highlight;
      }
    }
  }
  &.navbar-fixed-bottom {
    .navbar-inner {
      height: 32px;
    }
    .btn-navbar {
      float: left;
    }
    .nav-collapse {
      clear: none;
    }
  }
  .navbar-inner {
    border: none;
    background-color: $navigation_background;
    background-image: none;
    .brand {
      width: 33%;
      padding: 0;
      margin-top: 32px;
    }
    .container-fluid {
      position: relative;
      width: 1024px;
      height: 96px;
      margin-left:auto;
      margin-right:auto;
    }
    .nav-main {
      height: 32px;
      margin-top: 32px;
      li {
        margin-right:16px;
      }
    }
    .nav-user {
      position: absolute;
      right: 0;
      bottom: 0;
      left: inherit;
      li {
        &.active > a, &.active > a:hover, a:hover {
          background:  inherit;
          color: $navigation_text;
        }
        a { padding: 0; }
      }
      .user-ident {
        float: left;
        padding-right:10px;
        .name {
          text-align: right;
          font-size: 100%;
        }
        .handle {
          text-align: left;
          font-size: 80%;
        }
      }
      .dropdown {
        .dropdown-menu {
          width: 100%;
          margin-top: 0;
          min-width: 80%;
          &::after {
            right: 40px;
          }
        }
        li {
          a {
            color: $navigation_text_inverse;
            padding: 4px 10px;
          }
          &.active > a, &.active > a:hover, a:hover {
            background:  $navigation_item_highlight;
          }
        }
      }
    }
  }
}

/* drop user menu automatically on hover */
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

@media (max-width: 979px) {
  .navbar {
    .navbar-inner {
      padding: 0;
      .brand {
        width: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-inner {
      .nav {
        & > li {
          & > a {
            & > span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    .navbar-inner {
      .nav-user {
        .user-ident {
          display: none;
        }
      }
    }
  }
}
