/* ------- navigation ------- */
.navbar {
  margin: 0;
  -webkit-transform: translateZ(0); /* prevent flickering in Safari when performing transformations */
  .nav {
    margin-top: 20px;
    font-size: 140%;
    font-weight: bold;
    li {
      a {
        &, &:focus {
          color: $navigation_text;
          text-shadow: none;
          outline: none;
        }
      }
      &.active > a, &.active > a:hover, a:hover {
        color: $navigation_text;
        background: transparent;
        box-shadow: none;
      }
      &.active > a:hover, a:hover {
        background: $navigation_item_highlight;
      }
    }
  }
  &.navbar-fixed-top {
    .navbar-inner {
      height: 80px;
      .span10 { 
        position: relative; 
        height: 80px;
      }
    }
  }
  &.navbar-fixed-bottom {
    .navbar-inner {
      background-color: $petrol;
      height: 32px;
      .nav { margin-top: 0; }
    }
    .btn-navbar {
      float: left;
    }
    .nav-collapse {
      clear: none;
    }
  }
  .navbar-inner {
    border: none;
    background-color: $navigation_background;
    background-image: none;
    text-align: center;
    .brand {
      width: 33%;
      padding: 0;
      margin-top: 16px;
    }
    .container-fluid {
      margin-left:auto;
      margin-right:auto;
    }
    .nav-main {
      height: 32px;
      li {
        margin-right:10px;
      }
    }
    .nav-login {
      float: right;
      margin-right: 0;
    }
    .nav-user {
      position: absolute;
      right: 0;
      bottom: 0;
      left: inherit;
      li {
        &.active > a, &.active > a:hover, a:hover {
          background:  inherit;
          color: $navigation_text;
        }
        a { padding: 0; }
      }
      .user-ident {
        float: left;
        padding-right: 8px;
        margin-top: -2px;
        .name {
          text-align: right;
        }
        .handle {
          text-align: left;
          font-size: 80%;
        }
      }
      img {
        height: 48px;
        width:  48px;
      }
      .dropdown {
        .dropdown-menu {
          border: none;
          border-radius: 0;
          background-color: $petrol_transparent;
          box-shadow: none;
          width: 100%;
          margin-top: 0;
          min-width: 80%;
          text-align: left;
          &:after, &:before {
            display:none;
          }
        }
        li {
          a {
            color: $navigation_text;
            font-size: 80%;
            padding: 4px 10px;
          }
          &.active > a, &.active > a:hover, a:hover {
            background:  $navigation_item_highlight;
          }
        }
      }
    }
  }
}

/* drop user menu automatically on hover */
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

/* disable dropdown open/active indication */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: white;
}

@media (max-width: 1200px) {
  .navbar {
    .navbar-inner {
      min-width: 1024px;
      .span1 {
        display: none;
        padding: 0 20px;
      }
      .span10 {
        width: auto;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    &.navbar-fixed-top {
      .navbar-inner {
        padding: 0 10px;
        height: 64px;
        .span10 { 
          height: 64px;
        }
        .nav {
          & > li {
            & > a {
              & > span {
                display: none;
              }
            }
          }
        }
        .brand {
          width: 196px;
          margin-top: 16px;
        }
        .nav-main {
          margin: 16px 16px 0 16px;
          li { margin-right: 0 }
        }
        .nav-user {
          position: relative;
          .user-ident {
            display: none;
          }
        }
        .nav-login {
          float: left;
          margin-top: 16px;
        }
      }
    }
  }
}
