/* ------- navigation ------- */
.navbar {
  margin: 0;
  -webkit-transform: translateZ(0); /* prevent flickering in Safari when performing transformations */
  .nav {
    font-weight: bold;
    li {
      &.active > a, &.active > a:hover, a:hover {
        background:  $navigation_item_highlight;
        color: $navigation_text_inverse;
      }
      a {
        color: $navigation_text;
        text-shadow: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
  &.navbar-fixed-bottom {
    .btn-navbar {
      float: left;
    }
    .nav-collapse {
      clear: none;
    }
  }
  .navbar-inner {
    background-color: $navigation_background;
    background-image: none;
    .brand {
      width: 33%;
      padding: 0 20px;
      img {
        height: 40px; 
      }
    }
    .container-fluid {
      margin: 0 10px;
    }
    .nav-user {
      li {
        &.active > a, &.active > a:hover, a:hover {
          background:  inherit;
          color: $navigation_text;
        }
        a {
          padding: 0 0 0 10px;
        }
      }
      .user-ident {
        float: left;
        text-align: right;
        padding-right:10px;
        .name {
          font-size: 110%;
        }
        .handle {
          font-size: 90%;
        }
      }
      .dropdown {
        .dropdown-menu {
          margin-top: 0;
          min-width: 80%;
          &::after {
            right: 40px;
          }
        }
        li {
          a {
            color: $navigation_text_inverse;
            padding: 4px 10px;
          }
          &.active > a, &.active > a:hover, a:hover {
            background:  $navigation_item_highlight;
          }
        }
      }
    }
  }
}

/* drop user menu automatically on hover */
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

@media (max-width: 979px) {
  .navbar {
    .navbar-inner {
      padding: 0;
      .brand {
        width: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-inner {
      .nav-main {
        & > li {
          & > a {
            & > span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    .navbar-inner {
      .nav-user {
        .user-ident {
          display: none;
        }
      }
    }
  }
}
