body {
  background: $petrol image-url("background/BG_8.jpg") no-repeat center center fixed;
  @include background-size(cover);
  /*
  &.offers { background: $petrol image-url("background/BG_6.jpg") no-repeat center center fixed; }
  &.users  { background: $petrol image-url("background/BG_6.jpg") no-repeat center center fixed; }
  &.quests { background: $petrol image-url("background/BG_6.jpg") no-repeat center center fixed; }
  &.home   { background: $petrol image-url("background/BG_6.jpg") no-repeat center center fixed; }
  */
}

.main-content { padding-top: 24px; }

a { &:hover { text-decoration: none; }}
