/* ------- pagination ------- */
.pagination {
  li {
    a {
      border: 1px solid $text_highlight;
      color: $navigation_text;
    }
    &.active, &:hover {
      a {
        background-color: $text_highlight;
        color: $navigation_text;
        font-weight: bold;
      }
    }
  }
}