.sheet {
  position: relative;
  background-color: $background_inverse;
  color: $text_inverse;
  &.even {
    @include transform(rotate(-0.5deg) skew(0,0) translate(50px, 0px));
  }
  &.uneven {
    @include transform(rotate(0.5deg) skew(0,0) translate(50px, 0px));
  }
  .inner {
    background-color: inherit;
  }
  .shadow {
    width: 140px;
    height: 140px;
    position: absolute;
    z-index: -1;
    @include box-shadow(rgba(0, 0, 0, 0.4) -10px -10px 10px);
    &.top {
      &.left {
       top:-12px; left:-5px;
       @include transform(scale(1) rotate(4deg) translate(20px, 25px) skew(9deg, 0deg));
      }
      &.right {
        top:-4px; right:-13px;
        @include transform(scale(1) rotate(96deg) translate(20px, 25px) skew(9deg, 0deg));
      }
    }
    &.bottom {
      &.left {
       bottom:-5px; left:-12px;
       @include transform(scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg));
      }
      &.right {
        bottom:-13px; right:-4px;
        @include transform(scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg));
      }
    }
  }
}

.sticker {
  position: relative;
  left: -20px;
  li {
    position: relative;
    height: 80px;
    width: 160px;
    margin-bottom: 10px;
    padding: 20px 10px 10px 20px;
    color: $highlight;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.2;
    border: 1px solid $sticker;
    background-color: $sticker;
    @include box-shadow(rgba(0, 0, 0, .7) 0px 3px 5px);
    &:nth-child(odd) { 
      @include rotate(-1deg);
      left: 0px;
    }
    &:nth-child(even) { 
      @include rotate(-1deg);
      left: 0px;
    }
    &:first-child, &:last-child {
      @include rotate(0deg);
      left: -5px;
    }
    &:nth-child(2n) { 
      @include rotate(-1deg);
      left: 5px;
    }
    &:nth-child(3n) {
      @include rotate(1deg);
      left: -5px;
    }
    &:nth-child(4n) { 
      @include rotate(-1deg);
      left: 5px;
    }
    &:nth-child(5n) {
      @include rotate(-2deg);
      left: -5px;
    }
    a {
      color: $highlight;
      &:hover {
        color: $highlight;
        text-decoration: none;
      };
    }
    p  {
      font-family: 'Permanent Marker', cursive !important;
      font-size: 20px;
    }
    strong {
      font-family: 'Permanent Marker', cursive;
      font-size: 28px;
    }
    small {
      font-size: 16px;
    }
    &.bounty {
      &.small   > p { color: $bounty_minor; }
      &.medium  > p { color: $bounty_normal; }
      &.large   > p { color: $bounty_major; }
    }
  }
}