/* TODO: this is just a temporary css - remove when site is implemented */

.placeholder {
  background-color: lightgray;
  color: darkgray;
  padding: 10px; 
  min-height: 100px;
  text-align: center;
}

.spacer {
  min-height: 30px;
}