// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.gravatar {
  height: 60px; width: 60px;
  float: left;
  margin-right: 30px;
}