<div class="columnBottom  inner" >
  <div class="row-fluid ">
    <div class="span4">
    <h4>Contact</h4>
      <ul class="listcontact">
         <li class="cont-adress">
           <strong>
             bountyhill UG (haftungsbeschränkt) & Co. KG
            </strong><br>
                Berliner Strasse 12<br>
                13187 Berlin
         </li>
         <li class="cont-email"><a href="mailto:info@bountyhill.com">info@bountyhill.com</a></li>
         <li class="cont-phone">(+49) 123456789 </li>
      </ul>
    </div>
    <div class="span4">
      <h4>About</h4>
        <p>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem.</p>
        <p>Asequat lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</p>
    </div>
    <div class="span4">
      <h4>Legal</h4>
      <p>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem.</p>
      <ul class="listcontact legal">
        <% %w(privacy terms).each do |legal_item| %>
          <li><%= link_to I18n.t(legal_item), self.send("#{legal_item}_path") %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>