<footer>
  <hr>
  <div class="container-fluid">
    <%= render_navigation(:context => :footer, :expand_all => true) %>
    <p class="pull-right">© bountyhill <%= Date.today.year %></p>
  </div>
</footer>
